<div class="dig-card">
  <CrunchyForm
    @model={{@model}}
    @formSchema={{@model.validationSchema}}
    @onSubmit={{this.save}}
    @onCancel={{this.cancel}}
    @debounceSubmit={{true}}
  as |form|>
    <div class="flex flex-col md:flex-row mb-4">
      <div class="flex flex-col items-center">
        <div style={{background-image @model.digitalAssets.firstObject.downloadUrls.original}}
          class="m-2 h-56 w-56 bg-contain bg-no-repeat bg-center bg-gray-100 rounded border relative">
          <CrunchyButton @onClick={{fn (mut this.showUploadModal) true}} @aria-label="Upload a new home images"
            @class="crunchy-button--primary crunchy-button--rounded h-10 w-10 absolute bottom-0 right-0 -m-2 shadow">
            <FaIcon @icon="pencil-alt" />
          </CrunchyButton>
        </div>
        <div class="w-full py-8 px-4">
          <form.checkbox @field="active" @label="Active" />
        </div>
      </div>
      <div class="w-full md:pl-6">
        <h1 class="dig-section-title mb-4">Home Details</h1>
        <form.field @field="location" @label="Which business location does this home belong to?">
          <PowerSelect
            @options={{@selectedBusiness.locations}}
            @placeholder="Select location"
            @selected={{@model.location}}
            @allowClear={{false}}
            @onChange={{fn (mut @model.location)}} as |location|
            >
              <span data-test-id="selected-location-name">{{location.displayAddress}}</span>
          </PowerSelect>
        </form.field>

        <form.text-field
          @field="title"
          @label="Title"
          @placeholder="Add a headline for this home"
          @controlClass="font-bold"
        />

        <form.text-area
          @field="description"
          @label="Description"
          @aria-label="Description"
          @rows="5"
          @placeholder="Add some additional details" />

        <div class="flex flex-wrap md:flex-no-wrap">
          <div class="w-full md:w-1/4 md:pr-1">
            <form.text-field
                @field="additionalDetails.mls_number"
                @label="MLS #"
                @placeholder="1231"
                class="pr-2"
              />
          </div>

          <div class="w-full md:w-3/4 md:pl-1">
            <form.text-field
              @field="links.primary_listing"
              @label="Primary Listing"
              @placeholder="https://my-amazing-listing.com"
            />
          </div>
        </div>

        <Ui::CollapsibleSection @title="Property Information" @open={{true}}>
          <div class="flex flex-wrap md:flex-no-wrap">
            <div class="w-full md:w-1/4 md:pr-1">
              <form.text-field
                @field="additionalDetails.bedrooms"
                @label="Bedrooms"
                @placeholder="3"
                @type="number"
              />
            </div>
            <div class="w-full md:w-1/4 md:px-1">
              <form.text-field
                @field="additionalDetails.bathrooms"
                @label="Bathrooms"
                @placeholder="2"
                @type="number"
              />
            </div>

            <div class="w-full md:w-1/4 md:px-1">
              <form.text-field
                @field="additionalDetails.building_size"
                @label="Building Size (SQFT)"
                @placeholder="1200"
                @type="number"
                @labelClass="whitespace-no-wrap overflow-hidden"
              />
            </div>
            <div class="w-full md:w-1/4 md:pl-1">
              <form.text-field
                @field="additionalDetails.lot_size"
                @label="Lot Size (Acre)"
                @placeholder="1.9"
                @type="number"
                @step="0.01"
              />
            </div>
          </div>

          <div class="flex flex-wrap md:flex-no-wrap">
            <div class="w-full md:w-1/4 md:pr-1">
              <form.text-field
                @type="number"
                @field="additionalDetails.year_built"
                @label="Year Built"
                @placeholder="2013"
              />
            </div>

            <div class="w-full md:w-3/4 md:pl-1">
              <form.text-field
                @field="additionalDetails.building_type"
                @label="Building Type"
                @placeholder="Single Family Home, Apartment, ..."
              />
            </div>
          </div>

          <div class="flex flex-wrap md:flex-no-wrap">
            <div class="w-full md:w-1/2 md:pr-2">
              <form.text-field
                @type="number"
                @field="price"
                @label="Price"
                @placeholder="1000"
              />
            </div>
            <div class="w-full md:w-1/2 md:pl-2">
              <form.field @field="priceTerms" @label="Terms">
                <PowerSelect
                  @options={{@model.priceTermsOptions}}
                  @selected={{@model.priceTerms}}
                  @placeholder="Select price terms"
                  @allowClear={{true}}
                  @onChange={{fn (mut @model.priceTerms)}} as |term|
                  >
                    <span data-test-id="selected-price-term">{{term}}</span>
                </PowerSelect>
              </form.field>
            </div>
          </div>
        </Ui::CollapsibleSection>

        <Ui::CollapsibleSection @title="Address" @open={{false}}>
          <form.text-field
            @field="address.area_name"
            @label="Area Name"
            @aria-label="Area Name"
          />
          <p class="text-gray-600 text-xs -mt-3 mb-2">ex. West Asheville, South Slope, River Arts District</p>

          <form.text-field
            @field="address.street"
            @label="Address"
            @autocomplete="street-address"
            @aria-label="Address"
          />

          <div class="w-full flex">
            <div class="mr-4 flex-grow">
              <form.text-field
                @field="address.city"
                @label="City"
                @autocomplete="address-level2"
                @aria-label="City"
              />
            </div>

            <div class="mr-4 w-48 flex-shrink">
              <form.text-field
                @field="address.state"
                @label="State"
                @autocomplete="address-level1"
                @aria-label="State"
              />
            </div>

            <div class="w-32 flex-shrink">
              <form.text-field
                @field="address.postal_code"
                @label="Postal Code"
                @autocomplete="postal-code"
                @aria-label="Postal Code"
              />
            </div>
          </div>

          <div class="w-full flex">
            <div class="mr-4 flex-grow">
              <form.text-field
                @field="geoLocation.firstObject"
                @label="Geocoded Latitude"
                @aria-label="Geocoded Latitude"
                @disabled={{true}}
              />
            </div>
            <div class="flex-grow">
              <form.text-field
                @field="geoLocation.lastObject"
                @label="Geocoded Longitude"
                @aria-label="Geocoded Longitude"
                @disabled={{true}}
              />
            </div>
          </div>

          <form.field @field="locationAddress" @label="Address">
            <LocationAutocompleteInput @locationAddress={{model.locationAddress}} @onPlaceChange={{action "updateLocation"}} />
          </form.field>
        </Ui::CollapsibleSection>
      </div>
    </div>

    <form.errors @errorHeading="Unable to save due to the following errors:" />

    <div class="flex justify-between mt-8">
      <CrunchyButton @onClick={{fn (mut this.showDestroyModal) true}} @value="Delete Home"
        @class="crunchy-button--outline" />
      <div class="flex flex-wrap">
        <form.submit @value="Submit" @class="mr-2 md:w-32" @testId="save-home" />
        <form.cancel @value="Cancel" />
      </div>
    </div>
  </CrunchyForm>
</div>

<CrunchyConfirmUnsaved @model={{@model}} />

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{this.delete}}
  @onCancel={{fn (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete <span class="font-semibold text-brand-primary">{{@model.title}}</span>?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>

{{#if this.showUploadModal}}
  <CrunchyModal
    @clickOutsideToClose={{false}}
    @translucentOverlay={{true}}
    @onClose={{this.cancelUpload}}
    as |modal|>
    <FirebaseUploader
      @pathName="homes"
      @onUploadComplete={{this.onFileUploadComplete}}
      @onAllFilesUploadComplete={{this.onAllFilesUploadComplete}}
      as |uploader|>
      <modal.header>
        Upload photos
      </modal.header>
      <modal.body>
        <div class="h-48 rounded border border-brand-gray border-dashed my-6">
            <CrunchyDraggableDropzone @dropped={{uploader.didSelectFiles}} class="w-full h-full flex justify-center items-center">
              {{#x-file-input tagName="div" name="files" multiple=true action=uploader.didSelectFiles}}
                {{#unless uploader.uploadTasks.length}}
                  <span class="my-2 text-black px-4 text-sm mx-2 font-semibold flex flex-col items-center">
                    <FaIcon @icon="file-upload" @size="lg" class="mb-1" />
                    Click or drop file here
                  </span>
                {{/unless}}
                <div class="flex flex-wrap justify-start">
                  {{#each uploader.uploadTasks as |task|}}
                    <div class="relative w-32 h-32 m-2 overflow-hidden rounded border">
                      {{#if (not (eq task.status "pending"))}}
                        <img src={{task.preview}} alt="File Upload Preview">
                      {{/if}}
                      <div class="absolute inset-0 flex justify-center items-center bg-white opacity-25">
                        {{#if (or task.isRunning (eq task.status "pending"))}}
                          <FaIcon @icon="spinner" @pulse={{true}} class="text-black" />
                        {{else if (eq task.status "complete")}}
                          <FaIcon @icon="check-circle" class="text-green-600" />
                        {{else if (eq task.status "error")}}
                          <FaIcon @icon="times-circle" class="text-brand-error" />
                        {{/if}}
                      </div>
                    </div>
                  {{/each}}
                </div>
              {{/x-file-input}}
            </CrunchyDraggableDropzone>
        </div>
      </modal.body>
      <modal.footer class="flex justify-end">
        <ul class="text-sm">
          {{#if (gt uploader.uploadImageTask.performCount 0)}}
            {{#if uploader.completeTasks.length}}
              <li>{{pluralize uploader.completeTasks.length "file"}} uploaded successfully.</li>
            {{/if}}
            {{#if uploader.errorTasks.length}}
              <li>{{pluralize uploader.errorTasks.length "error"}}</li>
            {{/if}}
          {{/if}}
          {{#if uploader.uploadImageTask.isRunning}}
            <li>{{uploader.uploadImageTask.numQueued}} of {{pluralize uploader.uploadTasks.length "file"}} remaining.</li>
          {{/if}}
        </ul>
      </modal.footer>
    </FirebaseUploader>
  </CrunchyModal>
{{/if}}


