<nav class="header-nav h-16 text-lg">
  <div class="container flex justify-between">
    <div class="header-nav-left">
      <object type="image/svg+xml" data="/logos/dig_logo.svg" class="logo">
        DigLocal Logo
      </object>
      <LinkTo @route="authenticated"> DigLocal Admin </LinkTo>
    </div>
    <div class="header-nav-right">
      <Header::SelectRegion />
      <BasicDropdown
        @horizontalPosition="right"
        as |dd|>
        <dd.Trigger class="flex items-center focus:outline-none mr-3">
          <div
            class="w-8 h-8 rounded-full mr-2 bg-cover bg-center bg-no-repeat text-center overflow-hidden bg-white border border-white"
            style={{background-image session.currentUser.profileImages.firstObject.sizes.mobile}}>
            {{#unless session.currentUser.profileImages.length}}
              <div class="flex w-full h-full items-center justify-center">
                <FaIcon @icon="user" @size="lg" class="text-gray-400 mt-2 text-center" />
              </div>
            {{/unless}}
          </div>
          <span class="hidden md:inline-block md:mr-1">{{session.currentUser.headerDisplayName}}</span>
          <FaIcon @icon="angle-down" @size="xs" />
        </dd.Trigger>
        <dd.Content class="shadow p-1 mt-2 border rounded-sm">
          <div class="py-2 px-4 text-gray-600">
            <p class="text-xs">Currently logged in as:</p>
            <p class="text-sm mb-1 text-black">{{session.currentUser.email}}</p>
          </div>
          <hr class="py-1">
          <ul>
            <li class="py-2 px-4 w-full">
              <CrunchyButton @onClick={{action "logout" dd}} @class="crunchy-button--link w-full">
                Logout
              </CrunchyButton>
            </li>
          </ul>
        </dd.Content>
      </BasicDropdown>

      {{#if this.media.isMobile}}
        <button {{action (mut @showSidebar) true}} class="px-1 text-brand-primary text-2xl" aria-label="Menu" type="button"> &#9776; </button>
      {{/if}}
    </div>
  </div>
</nav>

<nav role="navigation" class="header-nav header-nav--secondary h-12">
  <div class="container">
    {{#if (media 'isMobile')}}
      {{!-- <Header::SelectRegion /> --}}
    {{else}}
      <ul class="flex w-full h-full items-center">
        <LinkTo @class="nav-link" @route="authenticated.businesses">Businesses</LinkTo>
        <LinkTo @class="nav-link" @route="authenticated.analytics">Analytics</LinkTo>
        <LinkTo @class="nav-link" @route="authenticated.users">Users</LinkTo>
        <LinkTo @class="nav-link" @route="authenticated.scoops">Scoops</LinkTo>
        <LinkTo @class="nav-link" @route="authenticated.site-settings">Site Settings</LinkTo>
      </ul>
    {{/if}}
  </div>
</nav>

{{#if @showSidebar}}
  <div id="sidebar" class="fixed inset-0 h-full bg-white z-90 w-full block">
    <div id="nav_wrapper" class="h-full overflow-y-auto scrolling-touch lg:h-auto lg:block relative lg:sticky lg:top-16 bg-white lg:bg-transparent">
      {{#if (media 'isMobile')}}
        <div class="flex justify-end">
          <button
            {{action (mut @showSidebar) false}}
            class="px-6 text-5xl text-gray-600"
            aria-label="Close"
            type="button"
          >
            &times;
          </button>
        </div>
      {{/if}}
      <nav role="navigation" class="px-6 pt-4 overflow-y-auto text-base h-screen-less-16 max-w-full">
        <div class="mb-8">
          <LinkTo @class="nav-link--mobile" @route="authenticated.businesses">Businesses</LinkTo>
          <LinkTo @class="nav-link--mobile" @route="authenticated.analytics">Analytics</LinkTo>
          <LinkTo @class="nav-link--mobile" @route="authenticated.users">Users</LinkTo>
          <LinkTo @class="nav-link--mobile" @route="authenticated.scoops">Scoops</LinkTo>
          <LinkTo @class="nav-link--mobile" @route="authenticated.site-settings">Site Settings</LinkTo>
        </div>
      </nav>
    </div>
  </div>
{{/if}}
