<CrunchyMediaObject @style="horizontal" @class="h-40 w-full overflow-hidden" data-test-id="scoop-listing" as |card|>
  {{#if (media "isMediumUp")}}
    <card.image
      @height="160px"
      @width="160px"
      @url={{@model.image.sizes.thumbx2}}
      class="border-r crunchy-media-object__image--cover"
    />
  {{/if}}
  <card.header class="flex justify-between">
    <div class="flex w-full mr-2">
      <p class="font-bold text-brand-primary-accent inline-block tracking-wide text-sm" title="Event date">
        {{format-event-date @model.eventDate}}
      </p>
    </div>
    <LinkTo
      @route="authenticated.region.businesses.view.scoops.view"
      @models={{array @model.business.id @model.id}}
      @aria-label="View scoop details"
      class="font-bold text-brand-primary whitespace-no-wrap text-sm"
      data-test-id={{concat "view-scoop-" @model.id}}
    >
      {{if (media "isMobile") "View" "View Scoop"}}
    </LinkTo>
  </card.header>
  <card.body>
    <p class="font-bold text-sm sm:text-base lg:text-lg">{{@model.description}}</p>
    <p class="text-sm font-medium">{{@model.business.name}}</p>
    <p class="py-2 text-xs leading-tight lg:mr-6">{{truncate-text @model.fineText limit=(if (media "isMobile") "100" "200")}}</p>
    <ul class="absolute left-0 bottom-0 p-1 pt-0 w-full bg-white">
      <CrunchyChip
        @tagName="li"
        @title="Scoop status"
        @label={{if @model.active "Active" "Inactive"}}
        @class={{if @model.active "crunchy-chip--accent" "crunchy-chip--accent-2"}}
      />
      {{#if @model.isRecurring}}
        <CrunchyChip @tagName="li" @label="Recurring" @class="crunchy-chip--primary" />
      {{/if}}
      {{#each @model.business.categories as |category|}}
        <CrunchyChip @tagName="li">
          {{category.longName}}
        </CrunchyChip>
      {{/each}}

      {{#if @model.ticketUrl}}
        <CrunchyChip @tagName="li" @title={{@model.ticketUrl}}>
          <FaIcon @icon="ticket-alt" />
        </CrunchyChip>
      {{/if}}
    </ul>
  </card.body>
</CrunchyMediaObject>
