<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Bold"
    class="mobiledoc-toolbar__button {{if this.editor.activeMarkupTagNames.isStrong "active"}}"
    {{on "click" (fn this.editor.toggleMarkup "strong")}}>
    <FaIcon @icon="bold" />
  </button>
</li>
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Italic"
    class="mobiledoc-toolbar__button {{if this.editor.activeMarkupTagNames.isEm "active"}}"
    {{on "click" (fn this.editor.toggleMarkup "em")}}>
    <FaIcon @icon="italic" />
  </button>
</li>
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Link"
    class="mobiledoc-toolbar__button {{if this.editor.activeMarkupTagNames.isA "active"}}"
    {{on "click" this.editor.toggleLink}}>
    <FaIcon @icon="link" />
  </button>
</li>
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Heading"
    class="mobiledoc-toolbar__button {{if this.editor.activeSectionTagNames.isH1 "active"}}"
    {{fn this.editor.toggleSection "h1"}}>
    <FaIcon @icon="heading" />
  </button>
</li>
{{!-- <li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Subheading"
    class="mobiledoc-toolbar__button {{if editor.activeSectionTagNames.isH2 "active"}}"
    {{on "click" (fn editor.toggleSection "h2")}}>
    <FaIcon @icon="h2" />
  </button>
</li> --}}
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Block Quote"
    class="mobiledoc-toolbar__button {{if this.editor.activeSectionTagNames.isBlockquote "active"}}"
    {{on "click" (fn this.editor.toggleSection "blockquote")}}>
    <FaIcon @icon="quote-right" />
  </button>
</li>
{{!-- <li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Pull Quote"
    class="mobiledoc-toolbar__button {{if editor.activeSectionTagNames.isPullQuote "active"}}"
    {{on "click" (fn editor.toggleSection "pull-quote")}}>
    Pull-quote
  </button>
</li> --}}
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="List"
    class="mobiledoc-toolbar__button {{if this.editor.activeSectionTagNames.isUl "active"}}"
    {{on "click" (fn this.editor.toggleSection "ul")}}>
    <FaIcon @icon="list-ul" />
  </button>
</li>
<li class="mobiledoc-toolbar__control crunchy-mobiledoc-toolbar__control">
  <button
    type="button"
    title="Numbered List"
    class="mobiledoc-toolbar__button {{if this.editor.activeSectionTagNames.isOl "active"}}"
    {{on "click" (fn this.editor.toggleSection "ol")}}>
    <FaIcon @icon="list-ol" />
  </button>
</li>

{{yield}}
