<div class="dig-card">
  <div class="flex mb-3 justify-between">
    <h1 class="dig-section-title">
      {{if this.isReadonly @model.longName "Edit Region"}}
    </h1>
    {{#if this.isReadonly}}
      <CrunchyButton
        @onClick={{action (mut this.isEditing) (not this.isEditing)}}
        @class="crunchy-button--icon"
        @aria-label="Edit region details">
        <FaIcon @icon="edit" @size="lg" />
      </CrunchyButton>
    {{else}}
      <CrunchyButton
        @onClick={{action "cancel"}}
        @class="crunchy-button--icon"
        @aria-label="Close form">
        <FaIcon @icon="times" @size="lg" />
      </CrunchyButton>
    {{/if}}
  </div>

  <CrunchyForm
    @model={{@model}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    @isReadonly={{this.isReadonly}}
    @debounceSubmit={{true}}
    as |form|>

    <form.text-field
      @field="name"
      @label="Name"
      @aria-label="Short name"
    />

    <form.text-field
      @field="longName"
      @label="Long Name"
      @aria-label="Long Name"
    />

    <form.text-field
      @field="timeZone"
      @label="Time Zone"
      @aria-label="Time zone"
      @disabled={{true}}
    />

    {{#if this.isEditing}}
      <div class="flex justify-end mt-8">
        <div class="flex flex-wrap">
          <form.submit @value="Submit" @class="mr-2 md:w-32" @testId="save-region" />
          <form.cancel @value="Cancel" />
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>
