<div class="dig-card">
  <div class="flex mb-3 justify-between">
    <h1 class="dig-section-title">
      {{#if @model.isNew}}
        Create New Region
      {{else}}
        {{if this.isReadonly @model.longName "Edit Region"}}
      {{/if}}
    </h1>
    {{#if this.canToggleEdit}}
      {{#if this.isReadonly}}
        <CrunchyButton
          @onClick={{fn (mut this.isEditing) (not this.isEditing)}}
          @class="crunchy-button--icon"
          @aria-label="Edit region details">
          <FaIcon @icon="edit" @size="lg" />
        </CrunchyButton>
      {{else}}
        <CrunchyButton
          @onClick={{this.cancel}}
          @class="crunchy-button--icon"
          @aria-label="Close form">
          <FaIcon @icon="times" @size="lg" />
        </CrunchyButton>
      {{/if}}
    {{/if}}
  </div>

  <CrunchyForm
    @model={{@model}}
    @formSchema={{@model.validationSchema}}
    @onSubmit={{this.save}}
    @onCancel={{this.cancel}}
    @isReadonly={{this.isReadonly}}
    @debounceSubmit={{true}}
    as |form|>

    <form.text-field
      @field="name"
      @label="Short Name"
      @placeholder="e.g. Asheville"
    />

    <form.text-field
      @field="longName"
      @label="Long Name"
      @placeholder="e.g. Asheville, NC"
    />

    <form.field
      @field="timeZone"
      @label="Time Zone"
    >
      <select {{on "change" this.didChangeZone}} disabled={{form.isReadonly}} class="form-select border-gray-400 py-3 disabled:bg-gray-100 disabled:border-transparent">
        {{#each this.zoneOptions as |zone|}}
          <option value={{zone.[0]}} selected={{eq zone.[0] @model.timeZone}}>
            {{zone.[0]}} - {{zone.[1]}}
          </option>
        {{/each}}
      </select>
    </form.field>

    <fieldset name="Default Location Details" class="border p-4 rounded mb-4">
      <label for="Default Location Details" class="mb-2 font-semibold text-lg block text-brand-primary">
        Default Location
      </label>
      <p class="mb-2 text-sm">Edit the default values for newly created business locations.<br>If a business has no location address specified, these values will be used for the location display, mapping, etc.</p>
      <div class="w-full flex">
        <div class="mr-4 flex-grow">
          <form.text-field
            @field="defaultCity"
            @label="City"
            @autocomplete="address-level2"
          />
        </div>

        <div class="mr-4 w-48 flex-shrink">
          <form.text-field
            @field="defaultState"
            @label="State"
            @autocomplete="address-level1"
          />
        </div>

        <div class="w-32 flex-shrink">
          <form.text-field
            @field="defaultZip"
            @label="Postal Code"
            @autocomplete="postal-code"
          />
        </div>
      </div>
    </fieldset>

    <div class="flex flex-col items-start crunchy-form__group">
      <XToggle @showLabels={{true}} @size="small" @value={{@model.active}} @onToggle={{fn (mut @model.active)}}
        @disabled={{this.isReadonly}} as |toggle|>
        <toggle.label @value={{@model.active}}>
          <span class="crunchy-form__toggle-label">Active</span>
        </toggle.label>
        <toggle.switch @theme='light' />
      </XToggle>
      <p class="text-gray-600 text-sm">
        {{if @model.active "This region is visible to users." "This region is not visible to users."}}
      </p>
    </div>

    <form.errors @errorHeading="Unable to save due to the following errors:" />

    {{#if this.isEditing}}
      <div class="flex justify-end mt-8">
        <div class="flex flex-wrap">
          <form.submit @value="Submit" @class="mr-2 md:w-32" @testId="save-region" />
          {{#unless @model.isNew}}
            <form.cancel @value="Cancel" />
          {{/unless}}
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>
