<DragSortList
  @items={{sort-by "position" this.model}}
  @isHorizontal={{true}}
  @dragEndAction={{action "dragEnd"}} as |item|>
  <div
    class={{concat "w-48 h-48 m-4 border rounded overflow-hidden bg-contain bg-no-repeat bg-center relative cursor-pointer "
      (if (contains item this.selectedPhotos) "shadow-outline ")
    }}
    style={{background-image (if item.isNew item.url item.sizes.mobile)}}
    {{action "select" item}}
  >
    <div class="absolute top-0 right-0 w-6 h-6 flex items-center justify-center m-1">
      <Input
        @type="checkbox"
        @checked={{contains item this.selectedPhotos}}
        @keyPress={{action "checkboxSelect" item}}
        @click={{action "checkboxSelect" item}}
        @touchStart={{action "checkboxSelect" item}}
      />
    </div>
  </div>
</DragSortList>

{{#if (or (not this.model) (eq this.model.length 0))}}
  <div class="border rounded bg-brand-gray-light m-4 p-6 max-w-3xl">
    <p> No photos found. </p>
  </div>
{{/if}}
