<div class="treadmill-content__fixed-header text-sm">
  <div class="container flex h-10 justify-between">
    <p class="flex items-center mx-2">Manage locations for this business.</p>
    <CrunchyButton
      @onClick={{this.addLocation}}
      @aria-label="Add a new location"
      @testId="add-location"
      @class="crunchy-button--primary crunchy-button--text-sm whitespace-no-wrap">
      <FaIcon @icon="plus" @size="xs" class="mr-1" /> Add Location
    </CrunchyButton>
  </div>
</div>
<div class="treadmill-content__table-body container pt-20">
  {{#each (sort-by "createdAt:desc" @model.locations) as |item|}}
    <Location::Form @model={{item}} @rollbackModel={{fn this.rollbackModel item}} @delete={{fn this.remove item}} @class="border border-gray-300 rounded" />
  {{else}}
    <div class="border rounded bg-white m-4 p-6">
      <p> No locations. </p>
    </div>
  {{/each}}
</div>

<CrunchyConfirmUnsaved  @models={{@model.locations}} />