<div class="dig-card">
  <h1 class="dig-section-title">Create a new business</h1>

  <CrunchyForm
    @model={{@model}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    @debounceSubmit={{true}}
    @isReadonly={{this.isReadonly}}
    as |form|>

    <form.text-field
      @field="name"
      @label="Name"
      @aria-label="Business Name"
    />

    <form.text-area
      @field="description"
      @label="What You Need To Know"
      @aria-label="What you need to know about the business"
      @rows="3"
    />

    <form.text-area
      @field="description2"
      @label="What The Locals Say"
      @aria-label="What the locals say about the business"
      @rows="3"
    />

    <form.text-field
      @field="tip"
      @label="Local's Tip"
      @aria-label="An insider tip or suggestion about the business"
    />

    <Ui::CollapsibleSection @title="Categories" @open={{false}}>
      <form.field @field="categories" @label="Categories">
        <PowerSelectMultiple
          @searchEnabled={{true}}
          @searchField="longName"
          @options={{this.categoryOptions}}
          @selected={{@model.categories}}
          @placeholder="Select category tags..."
          @onChange={{action (mut @model.categories)}} as |category|>
          {{category.longName}}
        </PowerSelectMultiple>
      </form.field>
    </Ui::CollapsibleSection>

    <Ui::CollapsibleSection @title="Listing Details" @open={{false}}>
      <form.field @field="role" @label="Listing Type">
        <PowerSelect
          @placeholder="Select a listing type for this business"
          @options={{this.roleOptions}}
          @selected={{@model.role}}
          @allowClear={{false}}
          @disabled={{form.isReadonly}}
          @onChange={{action (mut @model.role)}} as |role|
          >
            <span data-test-id="selected-role">{{role}}</span>
        </PowerSelect>
      </form.field>

      <div class="flex justify-start items-center mt-8 crunchy-form__group">
        <XToggle
          @showLabels={{true}}
          @size="small"
          @value={{@model.active}}
          @onToggle={{action (mut @model.active)}}
          @disabled={{this.isReadonly}}
          as |toggle|
        >
          <toggle.label @value={{@model.active}}>
            <b class="pr-2">Activate listing now?</b>
          </toggle.label>
          <toggle.switch @theme='light' />
        </XToggle>
      </div>

      <div class="flex justify-start items-center mt-8 crunchy-form__group">
        <XToggle
          @showLabels={{true}}
          @size="small"
          @value={{@model.featured}}
          @onToggle={{action (mut @model.featured)}}
          @disabled={{this.isReadonly}}
          as |toggle|
        >
          <toggle.label @value={{@model.active}}>
            <b class="pr-2">Featured?</b>
          </toggle.label>
          <toggle.switch @theme='light' />
        </XToggle>
      </div>
    </Ui::CollapsibleSection>

    <Ui::CollapsibleSection @title="Locations" @open={{false}}>
      {{#each @model.locations as |location|}}
        <form.fields-for @model={{location}} as |locForm|>
          <locForm.text-field
            @field="title"
            @label="Location Name"
            @aria-label="Location Name"
          />
          <locForm.text-field
            @field="address"
            @label="Address"
            @autocomplete="street-address"
            @aria-label="Address"
          />

          <div class="w-full flex">
            <div class="mr-4 flex-grow">
              <locForm.text-field
                @field="city"
                @label="City"
                @autocomplete="address-level2"
                @aria-label="City"
              />
            </div>

            <div class="mr-4 w-48 flex-shrink">
              <locForm.text-field
                @field="state"
                @label="State"
                @autocomplete="address-level1"
                @aria-label="State"
              />
            </div>

            <div class="w-32 flex-shrink">
              <locForm.text-field
                @field="zip"
                @label="Postal Code"
                @autocomplete="postal-code"
                @aria-label="Postal Code"
              />
            </div>
          </div>

          <div class="w-full flex">
            <div class="mr-4 flew-grow">
              <locForm.text-field
                @field="phone"
                @label="Telephone"
                @autocomplete="tel"
                @aria-label="Telephone"
              />
            </div>
            <div class="flex-grow">
              <locForm.text-field
                @field="menuUrl"
                @label="Menu Url"
                @autocomplete="url"
                @aria-label="Menu Url"
              />
            </div>
          </div>
        </form.fields-for>
      {{/each}}
    </Ui::CollapsibleSection>

    <Ui::CollapsibleSection @title="Website & Social Media" @open={{false}}>
      <form.text-field
        @field="website"
        @label="Website"
        @aria-label="Url for business website"
      />

      <form.text-field
        @field="twitterUrl"
        @label="Twitter"
        @aria-label="Twitter url"
      />

      <form.text-field
        @field="instagramUrl"
        @label="Instagram"
        @aria-label="Instagram url"
      />

      <form.text-field
        @field="facebookUrl"
        @label="Facebook"
        @aria-label="Facebook url"
      />
    </Ui::CollapsibleSection>

    <form.errors @errorHeading="Unable to save due to the following errors:" />

    <div class="flex justify-end mt-8">
      <form.submit @value="Create" @class="mr-2 md:w-32" />
      <form.cancel @value="Cancel" />
    </div>
  </CrunchyForm>
</div>
