<div class="dig-card max-w-4xl mx-auto">
  <div class="mb-10 mx-2">
    <Ui::SteppedProgressBar as |bar|>
      <bar.step @isActive={{this.showPartOne}} @isComplete={{this.partOneComplete}}>Account Setup</bar.step>
      <bar.step @isActive={{this.showPartTwo}} @isComplete={{this.partTwoComplete}}>Locations</bar.step>
      <bar.step @isActive={{this.showPartThree}}>Profile</bar.step>
    </Ui::SteppedProgressBar>
  </div>
  {{#if this.showPartOne}}
    <Business::NewForm::PartOne @model={{@model}} @save={{action "savePartOne"}} @cancel={{action "cancel"}} />
  {{/if}}

  {{#if this.showPartTwo}}
    <Business::NewForm::PartTwo @model={{@model}} @save={{action "savePartTwo"}} @cancel={{action "cancel"}} />
  {{/if}}

  {{#if this.showPartThree}}
    <Business::NewForm::PartThree @model={{@model}} @save={{action "complete"}} @cancel={{action "cancel"}} />
  {{/if}}
</div>
