<div class="dig-card">
  <h1 class="dig-section-title mb-4">Create New Business</h1>
  {{#if this.showPartOne}}
    <Business::NewForm::PartOne @model={{@model}} @save={{action "savePartOne"}} @cancel={{action "cancel"}} />
  {{/if}}

  {{#if this.showPartTwo}}
    <Business::NewForm::PartTwo @model={{@model}} @save={{action "savePartTwo"}} @cancel={{action "cancel"}} />
  {{/if}}

  {{#if this.showPartThree}}
    <Business::NewForm::PartThree @model={{@model}} @save={{action "complete"}} @cancel={{action "cancel"}} />
  {{/if}}
</div>
