<div class="dig-card max-w-4xl mx-auto">
  <div class="mb-10 mx-2">
    <Ui::SteppedProgressBar as |bar|>
      <bar.step @isActive={{this.showPartOne}} @isComplete={{this.partOneComplete}}>Account Setup</bar.step>
      <bar.step @isActive={{this.showPartTwo}} @isComplete={{this.partTwoComplete}}>Locations</bar.step>
      <bar.step @isActive={{this.showPartThree}} @isComplete={{this.partThreeComplete}}>Profile</bar.step>
      <bar.step @isActive={{this.showPartFour}} @isComplete={{this.partFourComplete}}>Members</bar.step>
      <bar.step @isActive={{this.showPartFive}}>Activate</bar.step>
    </Ui::SteppedProgressBar>
  </div>
  {{#if this.showPartOne}}
    <Business::NewForm::InitialSetup @model={{@model}} @save={{perform saveAndNext 2}} @cancel={{action "cancel"}} />
  {{/if}}

  {{#if this.showPartTwo}}
    <Business::NewForm::Locations @model={{@model}} @save={{perform saveAndNext 3}} @cancel={{action "cancel"}} />
  {{/if}}

  {{#if this.showPartThree}}
    <Business::NewForm::Profile @model={{@model}} @save={{perform saveAndNext 4}} @cancel={{action "cancel"}} />
  {{/if}}

  {{#if this.showPartFour}}
    <Business::NewForm::Users @model={{@model}} @save={{perform saveAndNext 5}} @cancel={{action "cancel"}} />
  {{/if}}

  {{#if this.showPartFive}}
    <Business::NewForm::Finish @model={{@model}} @save={{action "complete"}} @cancel={{action "cancel"}} />
  {{/if}}
</div>
