<div class="border rounded p-4 mb-4 bg-white">
  <div class="flex mb-3 justify-between">
    <h1 class="font-bold text-2xl text-brand-primary"> {{if this.isReadonly @model.email "Edit User Details"}} </h1>
    {{#if this.isReadonly}}
      <CrunchyButton
        @onClick={{action (mut this.isEditing) (not this.isEditing)}}
        @class="crunchy-button--icon"
        @aria-label="Edit user details">
        <FaIcon @icon="edit" @size="lg" />
      </CrunchyButton>
    {{else}}
      <CrunchyButton
        @onClick={{action "cancel"}}
        @class="crunchy-button--icon"
        @aria-label="Close form">
        <FaIcon @icon="times" @size="lg" />
      </CrunchyButton>
    {{/if}}
  </div>

  <CrunchyForm
    @model={{@model}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    @isReadonly={{this.isReadonly}}
    @debounceSubmit={{true}}
    as |form|>

    <form.text-field
      @field="email"
      @label="Email (Login)"
      @aria-label="Email Login"
    />

    <form.text-field
      @field="user"
      @label="User Name"
      @aria-label="User Name"
    />

    <form.text-field
      @field="publicName"
      @label="Public Name"
      @aria-label="Public Name"
    />

    <form.checkbox
      @field="admin"
      @label="Admin?"
    />

    <form.checkbox
      @field="active"
      @label="Active?"
    />

    <form.checkbox
      @field="hasProfile"
      @label="Has profile?"
    />

    <form.checkbox
      @field="isPublic"
      @label="Profile is public?"
    />

    {{#if this.isEditing}}
      <div class="flex justify-between mt-8">
        <CrunchyButton @onClick={{action (mut this.showDestroyModal) true}} @value="Delete user" @class="crunchy-button--outline" />
        <div class="flex flex-wrap">
          <form.submit @value="Submit" @class="mr-2 md:w-32" />
          <form.cancel @value="Cancel" />
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{action "delete"}}
  @onCancel={{action (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete the user <span class="font-semibold text-brand-primary">{{@model.user}}</span>?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>
