<div class="border rounded p-4 mb-4 bg-white">
  <div class="flex mb-3 justify-start items-center">
    <div
      class="w-8 h-8 rounded-full mr-2 bg-cover bg-center bg-no-repeat text-center overflow-hidden bg-gray-200 border border-gray-200"
      style={{background-image @model.profileImages.firstObject.sizes.mobile}}>
      {{#unless @model.profileImages.length}}
      <div class="flex w-full h-full items-center justify-center">
        <FaIcon @icon="user" @size="lg" class="text-gray-400 mt-2 text-center" />
      </div>
      {{/unless}}
    </div>
    <h1 class="font-bold text-2xl text-brand-primary">{{@model.email}}</h1>
    <ul>
      <CrunchyChip
        @tagName="li"
        @label={{role-display-name @model.role}}
        @title={{concat (role-display-name @model.role) " Role"}}
      />
      <CrunchyChip
        @tagName="li"
        @label={{@model.profileStatus}}
        @title={{concat "Profile is " @model.profileStatus}}
      />
    </ul>
  </div>

  <CrunchyForm
    @model={{@model}}
    @formSchema={{@model.validationSchema}}
    @onSubmit={{this.save}}
    @onCancel={{this.cancel}}
    @debounceSubmit={{true}}
    as |form|>

    <form.text-field
      @field="email"
      @label="Email (Login)"
      @aria-label="Email Login"
      @disabled={{true}}
    />

    <form.text-field
      @field="user"
      @label="User Name"
      @aria-label="User Name"
      @disabled={{true}}
    />

    <form.text-field
      @field="publicName"
      @label="Public Name"
      @aria-label="Public Name"
      @disabled={{true}}
    />

    <form.checkbox
      @field="admin"
      @label="Admin?"
    />

    <form.checkbox
      @field="active"
      @label="Active?"
    />

    <form.errors @errorHeading="Unable to save due to the following errors:" />

    <div class="flex justify-between mt-8">
      <CrunchyButton @onClick={{fn (mut this.showDestroyModal) true}} @value="Delete user" @class="crunchy-button--outline" />
      <div class="flex flex-wrap">
        <form.submit @value="Submit" @class="mr-2 md:w-32" />
        <form.cancel @value="Cancel" />
      </div>
    </div>
  </CrunchyForm>
</div>

<ConfirmUnsaved @model={{@model}} />

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{this.delete}}
  @onCancel={{fn (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete the user <span class="font-semibold text-brand-primary">{{@model.user}}</span>?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>
