<div class="border rounded p-4 mb-4 bg-white">
  <div class="flex mb-3 justify-start">
    <h1 class="font-bold text-2xl text-brand-primary">User Details</h1>
  </div>

  <CrunchyForm
    @model={{@model}}
    @formSchema={{@model.validationSchema}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    @debounceSubmit={{true}}
    as |form|>

    <form.text-field
      @field="email"
      @label="Email (Login)"
      @aria-label="Email Login"
      @disabled={{true}}
    />

    <form.text-field
      @field="user"
      @label="User Name"
      @aria-label="User Name"
      @disabled={{true}}
    />

    <form.text-field
      @field="publicName"
      @label="Public Name"
      @aria-label="Public Name"
      @disabled={{true}}
    />

    <form.checkbox
      @field="admin"
      @label="Admin?"
    />

    <form.checkbox
      @field="active"
      @label="Active?"
    />

    <form.errors @errorHeading="Unable to save due to the following errors:" />

    <div class="flex justify-between mt-8">
      <CrunchyButton @onClick={{action (mut this.showDestroyModal) true}} @value="Delete user" @class="crunchy-button--outline" />
      <div class="flex flex-wrap">
        <form.submit @value="Submit" @class="mr-2 md:w-32" />
        <form.cancel @value="Cancel" />
      </div>
    </div>
  </CrunchyForm>
</div>

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{action "delete"}}
  @onCancel={{action (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete the user <span class="font-semibold text-brand-primary">{{@model.user}}</span>?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>
