<div class="dig-card" data-test-id={{concat "location-detail-card" (if @model.isNew "-new")}}>
  <div class="flex mb-3 justify-between">
    <h1 class="dig-section-title">
      {{#if this.isReadonly}}
        <span class="mr-2">Location{{if @model.title ":"}}</span> {{@model.title}}
      {{else}}
        Edit Location
      {{/if}}
    </h1>
    {{#if this.isReadonly}}
      <CrunchyButton
        @onClick={{fn (mut this.isEditing) (not this.isEditing)}}
        @class="crunchy-button--icon"
        @testId={{concat "edit-location-" @model.id}}
        @aria-label="Edit location details">
        <FaIcon @icon="edit" @size="lg" />
      </CrunchyButton>
    {{/if}}
  </div>

  <CrunchyForm
    @model={{@model}}
    @formSchema={{@model.validationSchema}}
    @onSubmit={{this.save}}
    @onCancel={{this.cancel}}
    @isReadonly={{this.isReadonly}}
    @debounceSubmit={{true}}
    data-test-id={{concat "location-form-" @model.id}}
    as |form|>

    {{#if this.isEditing}}
      <form.text-field
        @field="title"
        @label="Area Name"
        @aria-label="Area Name"
      />
      <p class="text-gray-600 text-xs -mt-3 mb-2">ex. West Asheville, South Slope, River Arts District</p>
    {{/if}}

    <form.text-field
      @field="address"
      @label="Address"
      @autocomplete="street-address"
      @aria-label="Address"
    />

    <div class="w-full flex">
      <div class="mr-4 flex-grow">
        <form.text-field
          @field="city"
          @label="City"
          @autocomplete="address-level2"
          @aria-label="City"
        />
      </div>

      <div class="mr-4 w-48 flex-shrink">
        <form.text-field
          @field="state"
          @label="State"
          @autocomplete="address-level1"
          @aria-label="State"
        />
      </div>

      <div class="w-32 flex-shrink">
        <form.text-field
          @field="zip"
          @label="Postal Code"
          @autocomplete="postal-code"
          @aria-label="Postal Code"
        />
      </div>
    </div>

    <div class="w-full flex">
      <div class="mr-4 flew-grow">
        <form.text-field
          @field="phone"
          @label="Telephone"
          @autocomplete="tel"
          @aria-label="Telephone"
        />
      </div>
      <div class="flex-grow">
        <form.text-field
          @field="menuUrl"
          @label="Menu Url"
          @autocomplete="url"
          @aria-label="Menu Url"
        />
      </div>
    </div>

    {{#if (and this.currentUser.isAdmin (not @model.isNew))}}
      <div class="w-full flex">
        <div class="mr-4 flex-grow">
          <form.text-field
            @field="geocodedLat"
            @label="Geocoded Latitude"
            @aria-label="Geocoded Latitude"
            @disabled={{true}}
          />
        </div>
        <div class="flex-grow">
          <form.text-field
            @field="geocodedLong"
            @label="Geocoded Longitude"
            @aria-label="Geocoded Longitude"
            @disabled={{true}}
          />
        </div>
      </div>
    {{/if}}

    <Location::OperatingHoursForm @location={{@model}} @form={{form}} />

    <Ui::CollapsibleSection @title="Delivery Info" @open={{false}} @class="mb-8 mt-4">
      <p class="text-gray-600 text-sm mb-3">Links to order online delivery for this location:</p>
      <form.text-field @field="kickbackAvlUrl" @label="Kickback AVL" @aria-label="Url for Kickback AVL profile" />
      <form.text-field @field="avlRideUrl" @label="AVL Ride" @aria-label="Url for AVL Ride profile" />
      <form.text-field @field="grubhubUrl" @label="Grubhub" @aria-label="Url for GrubHub profile" />
      <form.text-field @field="takeoutCentralUrl" @label="Takeout Central" @aria-label="Url for Takeout Central profile" />
      <form.text-field @field="doordashUrl" @label="DoorDash" @aria-label="Url for DoorDash profile" />
      <form.text-field @field="uberEatsUrl" @label="Uber Eats" @aria-label="Url for Uber Eats profile" />
      <form.text-field @field="postmatesUrl" @label="Postmates" @aria-label="Url for Postmates profile" />
    </Ui::CollapsibleSection>

    <form.errors @errorHeading="Unable to save due to the following errors:" />

    {{#if this.isEditing}}
      <div class="flex mt-8 {{if @model.isNew "justify-end" "justify-between"}}">
        {{#unless @model.isNew}}
          <CrunchyButton @onClick={{fn (mut this.showDestroyModal) true}} @value="Delete Location" @class="crunchy-button--outline" @testId="delete" />
        {{/unless}}
        <div class="flex flex-wrap">
          <form.submit @value="Submit" @class="mr-2 md:w-32" @testId="save" />
          <form.cancel @value="Cancel" />
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{this.delete}}
  @onCancel={{fn (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete the location <span class="font-semibold text-brand-primary">{{@model.title}}</span>?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>
