<div class="border rounded p-4 bg-white mb-4">
  <div class="flex mb-3 justify-between">
    <h1 class="font-semibold text-lg"> {{if this.isReadonly "Location Details" "Edit Location"}} </h1>
    {{#if this.isReadonly}}
      <CrunchyButton
        @onClick={{action (mut this.isEditing) (not this.isEditing)}}
        @class="crunchy-button--icon"
        @aria-label="Edit location details">
        <FaIcon @icon="edit" @size="lg" />
      </CrunchyButton>
    {{else}}
      <CrunchyButton
        @onClick={{action "cancel"}}
        @class="crunchy-button--icon"
        @aria-label="Close form">
        <FaIcon @icon="times" />
      </CrunchyButton>
    {{/if}}
  </div>

  <CrunchyForm @model={{@model}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    as |form|>

    {{#if this.isEditing}}
      <form.text-field
        @field="title"
        @label="Location Name"
        @aria-label="Location Name"
        @disabled={{this.isReadonly}}
      />
    {{/if}}

    <form.text-field
      @field="address"
      @label="Address"
      @autocomplete="street-address"
      @aria-label="Address"
      @disabled={{this.isReadonly}}
    />

    <div class="w-full flex">
      <div class="mr-4 flex-grow">
        <form.text-field
          @field="city"
          @label="City"
          @autocomplete="address-level2"
          @aria-label="City"
          @disabled={{this.isReadonly}}
        />
      </div>

      <div class="mr-4 w-48 flex-shrink">
        <form.text-field
          @field="state"
          @label="State"
          @autocomplete="address-level1"
          @aria-label="State"
          @disabled={{this.isReadonly}}
        />
      </div>

      <div class="w-32 flex-shrink">
        <form.text-field
          @field="zip"
          @label="Postal Code"
          @autocomplete="postal-code"
          @aria-label="Postal Code"
          @disabled={{this.isReadonly}}
        />
      </div>
    </div>

    <div class="w-full flex">
      <div class="mr-4 flew-grow">
        <form.text-field
          @field="phone"
          @label="Telephone"
          @autocomplete="tel"
          @aria-label="Telephone"
          @disabled={{this.isReadonly}}
        />
      </div>
      <div class="flex-grow">
        <form.text-field
          @field="menuUrl"
          @label="Menu Url"
          @autocomplete="url"
          @aria-label="Menu Url"
          @disabled={{this.isReadonly}}
        />
      </div>
    </div>

    <div class="w-full flex">
      <div class="mr-4 flex-grow">
        <form.text-field
          @field="geocodedLat"
          @label="Geocoded Latitude"
          @aria-label="Geocoded Latitude"
          @disabled={{this.isReadonly}}
        />
      </div>
      <div class="flex-grow">
        <form.text-field
          @field="geocodedLong"
          @label="Geocoded Longitude"
          @aria-label="Geocoded Longitude"
          @disabled={{this.isReadonly}}
        />
      </div>
    </div>

    <label for="hours-of-operation" class="crunchy-form__group-label">
      Hours of Operation
    </label>

    <fieldset name="hours-of-operation">
      {{#each @model.operatingHours as |item|}}
        <EmberFlatpickr
          @allowInput={{true}}
          @appendDataInput={{true}}
          @enableTime={{true}}
          @noCalendar={{true}}
          @dateFormat="h:i"
          @date={{readonly item.openTime}}
          @onChange={{action (mut item.openTime)}}
          @onReady={{action "onReady"}}
          @placeholder="Opens"
          class="w-full"
        />
        <EmberFlatpickr
          @allowInput={{true}}
          @appendDataInput={{true}}
          @enableTime={{true}}
          @noCalendar={{true}}
          @dateFormat="h:i"
          @date={{readonly item.closeTime}}
          @onChange={{action (mut item.closeTime)}}
          @onReady={{action "onReady"}}
          @placeholder="Opens"
          class="w-full"
        />

        {{item.dayOfWeek}} {{item.openTime}} {{item.closeTime}}
        <label class="w-full">
          <Input
            @type="checkbox"
            @checked={{item.closed}}
          />
          Closed?
        </label><br>
      {{else}}
        <p class="mb-3 text-sm italic mx-2"> No hours found </p>
      {{/each}}
    </fieldset>

    {{#if this.isEditing}}
      <div class="flex justify-between mt-8">
        <CrunchyButton @onClick={{action (mut this.showDestroyModal) true}} @value="Delete Location" @class="crunchy-button--outline" />
        <div class="flex">
          <form.submit @value="Submit" @class="mr-2"/>
          <form.cancel @value="Cancel" />
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{action "delete"}}
  @onCancel={{action (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete the location <span class="font-semibold text-brand-primary">{{@model.title}}</span>?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>
