<div class="dig-card" data-test-id={{concat "location-detail-card" (if @model.isNew "-new")}}>
  <div class="flex mb-3 justify-between">
    <h1 class="dig-section-title"> {{if this.isReadonly @model.title "Edit Location"}} </h1>
    {{#if this.isReadonly}}
      <CrunchyButton
        @onClick={{action (mut this.isEditing) (not this.isEditing)}}
        @class="crunchy-button--icon"
        @testId={{concat "edit-location-" @model.id}}
        @aria-label="Edit location details">
        <FaIcon @icon="edit" @size="lg" />
      </CrunchyButton>
    {{else}}
      <CrunchyButton
        @onClick={{action "cancel"}}
        @class="crunchy-button--icon"
        @testId="close-form"
        @aria-label="Close form">
        <FaIcon @icon="times" @size="lg" />
      </CrunchyButton>
    {{/if}}
  </div>

  <CrunchyForm @model={{@model}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    @isReadonly={{this.isReadonly}}
    @debounceSubmit={{true}}
    data-test-id={{concat "location-form-" @model.id}}
    as |form|>

    {{#if this.isEditing}}
      <form.text-field
        @field="title"
        @label="Location Name"
        @aria-label="Location Name"
      />
    {{/if}}

    <form.text-field
      @field="address"
      @label="Address"
      @autocomplete="street-address"
      @aria-label="Address"
    />

    <div class="w-full flex">
      <div class="mr-4 flex-grow">
        <form.text-field
          @field="city"
          @label="City"
          @autocomplete="address-level2"
          @aria-label="City"
        />
      </div>

      <div class="mr-4 w-48 flex-shrink">
        <form.text-field
          @field="state"
          @label="State"
          @autocomplete="address-level1"
          @aria-label="State"
        />
      </div>

      <div class="w-32 flex-shrink">
        <form.text-field
          @field="zip"
          @label="Postal Code"
          @autocomplete="postal-code"
          @aria-label="Postal Code"
        />
      </div>
    </div>

    <div class="w-full flex">
      <div class="mr-4 flew-grow">
        <form.text-field
          @field="phone"
          @label="Telephone"
          @autocomplete="tel"
          @aria-label="Telephone"
        />
      </div>
      <div class="flex-grow">
        <form.text-field
          @field="menuUrl"
          @label="Menu Url"
          @autocomplete="url"
          @aria-label="Menu Url"
        />
      </div>
    </div>

    {{#unless @model.isNew}}
      <div class="w-full flex">
        <div class="mr-4 flex-grow">
          <form.text-field
            @field="geocodedLat"
            @label="Geocoded Latitude"
            @aria-label="Geocoded Latitude"
          />
        </div>
        <div class="flex-grow">
          <form.text-field
            @field="geocodedLong"
            @label="Geocoded Longitude"
            @aria-label="Geocoded Longitude"
          />
        </div>
      </div>
    {{/unless}}

    <Location::OperatingHoursForm @location={{@model}} @form={{form}} />

    {{#if this.isEditing}}
      <div class="flex justify-between mt-8">
        <CrunchyButton @onClick={{action (mut this.showDestroyModal) true}} @value="Delete Location" @class="crunchy-button--outline" @testId="delete" />
        <div class="flex flex-wrap">
          <form.submit @value="Submit" @class="mr-2 md:w-32" @testId="save" />
          <form.cancel @value="Cancel" />
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{action "delete"}}
  @onCancel={{action (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete the location <span class="font-semibold text-brand-primary">{{@model.title}}</span>?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>
