<CrunchyMediaObject @style="horizontal" @class="min-h-48 overflow-hidden" as |card|>
  {{#if (media "isMediumUp")}}
    <card.image
      @height="190px"
      @width="190px"
      @url={{model.image.sizes.thumbx2}}
      class="border-r"
    />
  {{/if}}
  <card.header class="flex justify-between">
    <p class="font-bold text-xl mb-2">{{model.description}}</p>
    <LinkTo
      @route="authenticated.scoops.view"
      @model={{model.id}}
      @aria-label="View scoop details"
      class="font-bold text-brand-primary whitespace-no-wrap text-sm"
    >
      View Scoop
    </LinkTo>
  </card.header>
  <card.body>
    <p class="mb-2 font-bold text-brand-primary text-sm inline-block tracking-wide" title="Event date">
      <span class="mr-1">{{if model.eventDate (moment-calendar model.eventDate)}}</span>
      <CrunchyChip
        @tagName="li"
        @label={{if (eq model.isRecurring true) "Recurring" "One Time"}}
      />
    </p>
    <p class="text-sm">{{truncate-text model.fineText limit=225}}</p>
    <ul class="absolute left-0 bottom-0 p-2">
      {{#each model.business.categories as |category|}}
        <CrunchyChip @tagName="li">
          {{category.longName}}
        </CrunchyChip>
      {{/each}}

      {{#if model.ticketUrl}}
        <CrunchyChip @tagName="li" @title={{model.ticketUrl}}>
          <FaIcon @icon="ticket-alt" />
        </CrunchyChip>
      {{/if}}
    </ul>
  </card.body>
</CrunchyMediaObject>
