<div class="border rounded p-4 bg-white mb-4">
  <div class="flex mb-3 justify-between">
    <h1 class="font-semibold text-lg"> {{if this.isReadonly "Scoop Details" "Edit Scoop Details"}} </h1>
    {{#if this.isReadonly}}
      <CrunchyButton
        @onClick={{action (mut this.isEditing) (not this.isEditing)}}
        @class="crunchy-button--icon"
        @aria-label="Edit scoop details">
        <FaIcon @icon="edit" @size="lg" />
      </CrunchyButton>
    {{else}}
      <CrunchyButton
        @onClick={{action "cancel"}}
        @class="crunchy-button--icon"
        @aria-label="Close form">
        <FaIcon @icon="times" />
      </CrunchyButton>
    {{/if}}
  </div>

  <CrunchyForm
    @model={{@model}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    @isReadonly={{this.isReadonly}}
    as |form|>

    <div class="flex flex-wrap md:flex-no-wrap mb-2">
      <div class="h-64 w-full md:w-1/3 rounded overflow-hidden bg-contain bg-no-repeat bg-center bg-gray-100" style={{background-image @model.image.sizes.full}}>
      </div>
      <div class="w-full md:w-2/3 md:pl-4">
        {{#if (is-active "authenticated.region.businesses.view")}}
          <div class="crunchy-form__group flex items-center text-brand-primary">
            {{svg-jar "location" class="brand-primary-svg" width="20px"}}
            <span class="ml-1 text-lg font-bold">{{@model.business.name}}</span>
          </div>
        {{else}}
          <form.field @field="name" @label="Business" class="mt-4">
            <PowerSelect
              @search={{perform this.searchBusinesses}}
              @searchEnabled={{true}}
              @loadingMessage="Searching businesses...."
              @placeholder="Click to search"
              @selected={{@model.business}}
              @allowClear={{false}}
              @disabled={{form.isReadonly}}
              @onChange={{action (mut @model.business)}} as |business|
              >
                <span>{{business.name}}</span>
            </PowerSelect>
          </form.field>
        {{/if}}

        <form.text-field
          @field="description"
          @label="Description"
          @aria-label="Description"
          @placeholder="Add a headline for this scoop"
        />
      </div>
    </div>

    <form.text-area
      @field="fineText"
      @label="Additional Details"
      @aria-label="Additional Details"
      @rows="5"
      @placeholder="Add some additional details"
    />

    {{#if this.isEditing}}
      <div class="flex justify-start items-center mt-8 crunchy-form__group">
        <XToggle
          @showLabels={{true}}
          @size="small"
          @value={{this.showEventFields}}
          @onToggle={{action "toggleEventFields"}}
          @disabled={{this.isReadonly}}
          as |toggle|
        >
          <toggle.label @value={{this.showEventFields}}>
            <b class="pr-2">Is this an event?</b>
          </toggle.label>
          <toggle.switch
            @theme='light'
            @onLabel='Yes'
            @offLabel='No'
          />
        </XToggle>
      </div>
    {{/if}}

    {{#if this.showEventFields}}
      <Scoop::DetailsForm::EventFields
        @form={{form}}
        @model={{@model}}
        @onChangeEventDate={{action (mut @model.eventDate)}}
        @onChangeEventStart={{action (mut @model.eventStartTime)}}
        @onChangeEventEnd={{action (mut @model.eventEndTime)}}
      />
    {{/if}}

    {{#if this.isEditing}}
      <form.text-field
        @field="ticketUrl"
        @label="Ticket Url"
        @aria-label="Ticket Url"
      />
    {{else if @model.ticketUrl}}
      <div class="crunchy-form__group text-brand-primary">
        <a href={{@model.ticketUrl}} target="_blank" rel="noopener" title={{@model.ticketUrl}} class="flex items-center">
          {{svg-jar "tickets" class="brand-primary-svg" width="20px"}}
          <span class="ml-1 text-lg font-bold">Tickets</span>
        </a>
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="flex justify-start items-center mt-8 crunchy-form__group">
        <XToggle
          @showLabels={{true}}
          @size="small"
          @value={{@model.active}}
          @onToggle={{action (mut @model.active)}}
          @disabled={{this.isReadonly}}
          as |toggle|
        >
          <toggle.label @value={{@model.active}}>
            <b class="pr-2">Is scoop active?</b>
          </toggle.label>
          <toggle.switch
            @theme='light'
            @onLabel='Yes'
            @offLabel='No'
          />
        </XToggle>
      </div>
    {{/if}}

    {{#if this.isEditing}}
      <div class="flex justify-between mt-8">
        <CrunchyButton @onClick={{action (mut this.showDestroyModal) true}} @value="Delete Scoop" @class="crunchy-button--outline" />
        <div class="flex">
          <form.submit @value="Submit" @class="mr-2"/>
          <form.cancel @value="Cancel" />
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{action "delete"}}
  @onCancel={{action (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete <span class="font-semibold text-brand-primary">{{@model.description}}</span>?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>
