<div class="dig-card">
  <CrunchyForm @model={{@model}} @formSchema={{@model.validationSchema}} @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}} @debounceSubmit={{true}} as |form|>
    <div class="flex flex-col md:flex-row mb-4">
      <div class="flex flex-col items-center">
        <div style={{background-image @model.image.sizes.full}}
          class="m-2 h-56 w-56 bg-contain bg-no-repeat bg-center bg-gray-100 rounded border relative">
          <CrunchyButton @onClick={{action (mut this.showUploadModal) true}} @aria-label="Upload a new scoop image"
            @class="crunchy-button--primary crunchy-button--rounded h-10 w-10 absolute bottom-0 right-0 -m-2 shadow">
            <FaIcon @icon="pencil-alt" />
          </CrunchyButton>
        </div>
        <div class="w-full py-8 px-4">
          <form.checkbox @field="active" @label="Active" />
          <form.checkbox @field="isDeal" @label="This is a deal or special" />
        </div>
      </div>
      <div class="w-full md:pl-6">
        <h1 class="dig-section-title mb-4">Scoop Details</h1>
              <form.field @field="business" @label="Business">
                <PowerSelect @search={{perform this.searchBusinesses}} @searchEnabled={{true}}
                  @loadingMessage="Searching businesses...." @placeholder="Click to search" @selected={{@model.business}}
                  @allowClear={{false}} @disabled={{or form.isReadonly (is-active "authenticated.region.businesses.view")}}
                  @onChange={{action (mut @model.business)}} as |business|>
                  <span data-test-id="selected-business-name" class="font-bold">{{business.name}}</span>
                </PowerSelect>
              </form.field>
            
              <form.text-field @field="description" @label="Title" @placeholder="Add a headline for this scoop"
                @controlClass="font-bold" />
            
            <form.text-area @field="fineText" @label="Additional Details" @aria-label="Additional Details" @rows="5"
              @placeholder="Add some additional details" />
            
            <div class="flex justify-start items-center my-4 crunchy-form__group">
              <XToggle @showLabels={{true}} @size="small" @value={{this.showEventFields}} @onToggle={{action "toggleEventFields"}}
                @disabled={{form.isReadonly}} data-test-id="isEvent-toggle" as |toggle|>
                <toggle.label @value={{this.showEventFields}}>
                  <span class="crunchy-form__toggle-label">Is this an event?</span>
                </toggle.label>
                <toggle.switch @theme='light' @onLabel='Yes' @offLabel='No' />
              </XToggle>
            </div>
            
            {{#if this.showEventFields}}
              <Scoop::DetailsForm::EventFields
                @form={{form}}
                @model={{@model}}
                @onChangeEventDate={{action (mut @model.eventDate)}}
                @onChangeEventStart={{action (mut @model.eventStartTime)}}
                @onChangeEventEnd={{action (mut @model.eventEndTime)}}
              />
              <Ui::CollapsibleSection @title="Tickets & Event Links" @open={{false}}>
                <form.text-field @field="ticketUrl" @label="Ticket Url" />
                <form.text-field @field="virtualUrl" @label="Virtual Event Url" />
              </Ui::CollapsibleSection>
            {{/if}}
            
            <Ui::CollapsibleSection @title="Post Schedule" @open={{false}}>
              <Scoop::DetailsForm::PostAtFields @form={{form}} @model={{@model}} @didUpdateDays={{action (mut @model.daysOfWeek)}} />
            </Ui::CollapsibleSection>
      </div>
    </div>

    <form.errors @errorHeading="Unable to save due to the following errors:" />

    <div class="flex justify-between mt-8">
      <CrunchyButton @onClick={{action (mut this.showDestroyModal) true}} @value="Delete Business"
        @class="crunchy-button--outline" />
      <div class="flex flex-wrap">
        <form.submit @value="Submit" @class="mr-2 md:w-32" />
        <form.cancel @value="Cancel" />
      </div>
    </div>
  </CrunchyForm>
</div>


<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{action "delete"}}
  @onCancel={{action (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete <span class="font-semibold text-brand-primary">{{@model.description}}</span>?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>

{{#if this.showUploadModal}}
  <CrunchyModal
    @clickOutsideToClose={{false}}
    @translucentOverlay={{true}}
    @onClose={{action "cancelUpload"}}
    as |modal|>
    <AttributeImageUploader
      @model={{@model}}
      @modelType="scoop"
      @keyForImage="image"
      @onAllFilesUploadComplete={{perform this.onUploadImageComplete}}
      as |uploader|>
      <modal.header>
        Upload Image
      </modal.header>
      <modal.body>
        <div class="h-48 rounded border border-brand-gray border-dashed my-6">
            <CrunchyDraggableDropzone @dropped={{uploader.didSelectFiles}} class="w-full h-full flex justify-center items-center">
              {{#x-file-input tagName="div" name="files" multiple=true action=uploader.didSelectFiles }}
                {{#unless uploader.uploadTasks.length}}
                  <span class="my-2 text-black px-4 text-sm mx-2 font-semibold flex flex-col items-center">
                    <FaIcon @icon="file-upload" @size="lg" class="mb-1" />
                    Click or drop file here
                  </span>
                {{/unless}}
                <div class="flex flex-wrap justify-start">
                  {{#each uploader.uploadTasks as |task|}}
                    <div class="relative w-32 h-32 m-2 overflow-hidden rounded border">
                      {{#if (not (eq task.status "pending"))}}
                        <img src={{task.preview}} alt="File Upload Preview">
                      {{/if}}
                      <div class="absolute inset-0 flex justify-center items-center bg-white opacity-25">
                        {{#if (or task.isRunning (eq task.status "pending"))}}
                          <FaIcon @icon="spinner" @pulse={{true}} class="text-black" />
                        {{else if (eq task.status "complete")}}
                          <FaIcon @icon="check-circle" class="text-green-600" />
                        {{else if (eq task.status "error")}}
                          <FaIcon @icon="times-circle" class="text-brand-error" />
                        {{/if}}
                      </div>
                    </div>
                  {{/each}}
                </div>
              {{/x-file-input}}
            </CrunchyDraggableDropzone>
        </div>
      </modal.body>
      <modal.footer class="flex justify-end">
        <ul class="text-sm">
          {{#if (gt uploader.uploadImageTask.performCount 0)}}
            {{#if uploader.completeTasks.length}}
              <li>{{pluralize uploader.completeTasks.length "file"}} uploaded successfully.</li>
            {{/if}}
            {{#if uploader.errorTasks.length}}
              <li>{{pluralize uploader.errorTasks.length "error"}}</li>
            {{/if}}
          {{/if}}
          {{#if uploader.uploadImageTask.isRunning}}
            <li>Uploading image...</li>
          {{/if}}
        </ul>
      </modal.footer>
    </AttributeImageUploader>
  </CrunchyModal>
{{/if}}
