<CrunchyForm
  @model={{@model}}
  @formSchema={{@model.validationSchema}}
  @onSubmit={{this.save}}
  @onCancel={{this.cancel}}
  @debounceSubmit={{true}}
as |form|>

  <form.text-field @field="name" @label="Name" @aria-label="List Name" />

  <form.text-area @field="description" @label="Description" @rows="3" />

  <form.checkbox @field="pinned" @label="Pinned?" />
  <p class="text-gray-600 text-sm -mt-3 ml-2">Pinned lists will always appear at the top of list results.</p>

  <Ui::CollapsibleSection @title="List Items ({{@model.items.length}})" @open={{true}}>
    <ul>
      {{#each @model.items as |item|}}
        <List::DetailsForm::Item @model={{item}} @itemType={{@model.itemType}} @form={{form}} />
      {{/each}}
    </ul>
  </Ui::CollapsibleSection>

  <form.errors @errorHeading="Unable to save due to the following errors:" />

  <div class="flex justify-end mt-8">
    <div class="flex flex-wrap">
      <form.submit @value="Save" @class="mr-2 md:w-32" />
      <form.cancel @value="Cancel" />
    </div>
  </div>
</CrunchyForm>