<CrunchyForm
  @model={{@model}}
  @formSchema={{@model.validationSchema}}
  @onSubmit={{this.save}}
  @onCancel={{this.cancel}}
  @debounceSubmit={{true}}
as |form|>

  <form.text-field @field="name" @label="Name" @aria-label="List Name" />

  <form.text-area @field="description" @label="Description" @rows="3" />

  <form.checkbox @field="pinned" @label="Pinned?" />
  <p class="text-gray-600 text-sm -mt-3 ml-2">Pinned lists will always appear at the top of list results.</p>

  <Ui::CollapsibleSection @title="List Items ({{@model.items.length}})" @open={{true}}>
    <ul>
      {{#each @model.items as |item|}}
        <List::DetailsForm::Item @model={{item}} @itemType={{@model.itemType}} @form={{form}} />
      {{/each}}
    </ul>
  </Ui::CollapsibleSection>

  <form.errors @errorHeading="Unable to save due to the following errors:" />

  <div class="flex mt-8 {{if this.currentUser.isAdmin "justify-between" "justify-end"}}">
    {{#if this.currentUser.isAdmin}}
      <CrunchyButton @onClick={{fn (mut this.showDestroyModal) true}} @value="Delete List" @class="crunchy-button--outline" />
    {{/if}}
    <div class="flex flex-wrap">
      <form.submit @value="Save" @class="mr-2 md:w-32" />
      <form.cancel @value="Cancel" />
    </div>
  </div>
</CrunchyForm>

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{this.delete}}
  @onCancel={{fn (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete <span class="font-semibold text-brand-primary">{{@model.name}}</span>?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>