{{#with @form as |form|}}
  <div class="flex flex-wrap md:flex-no-wrap">
    <div class="w-full md:w-1/3 md:pr-2">
      <form.field @field="eventDate" @label="Date" data-test-id="event-date" class="w-full">
        <EmberFlatpickr
          @allowInput={{false}}
          @altInput={{true}}
          @altFormat="F j, Y"
          @clickOpens={{true}}
          @appendDataInput={{true}}
          @date={{readonly this.eventDate}}
          @dateFormat="Y-m-d"
          @enableTime={{false}}
          @mode="single"
          @onChange={{this.changeEventDate}}
          @placeholder="Select a date"
          @disabled={{form.isReadonly}}
          class="w-full crunchy-form__input"
        />
      </form.field>
    </div>

    <div class="w-full md:w-1/3 md:pr-2">
      <form.field @label="Starts At" class="w-full">
        <div data-test-id="event-start-time" class="flex flex-grow items-center">
          <EmberFlatpickr
            @allowInput={{false}}
            @altInput={{true}}
            @altFormat="h:iK"
            @appendDataInput={{true}}
            @enableTime={{true}}
            @noCalendar={{true}}
            @date={{this.eventStartTime}}
            @dateFormat="H:i:S"
            @onOpen={{fn this.onOpen "start"}}
            @onClose={{fn this.onClose "start"}}
            @onChange={{fn this.changeEventTime "start"}}
            @placeholder="Start"
            @disabled={{form.isReadonly}}
            class="crunchy-form__input"
          />
          <span class="text-gray-600 ml-2 mr-1 italic">{{moment-format this.eventDate "z" timeZone=this.activeRegionTimeZone}}</span>
        </div>
      </form.field>
    </div>
    <div class="w-full md:w-1/3">
      <form.field @label="Ends At" class="w-full">
        <div data-test-id="event-end-time" class="flex flex-grow items-center">
          <EmberFlatpickr
            @allowInput={{false}}
            @altInput={{true}}
            @altFormat="h:iK"
            @appendDataInput={{true}}
            @enableTime={{true}}
            @noCalendar={{true}}
            @date={{this.eventEndTime}}
            @dateFormat="H:i:S"
            @onOpen={{fn this.onOpen "end"}}
            @onClose={{fn this.onClose "end"}}
            @onChange={{fn this.changeEventTime "end"}}
            @placeholder="End"
            @disabled={{form.isReadonly}}
            class="crunchy-form__input"
          />
          <span class="text-gray-600 ml-2 mr-1 italic">{{moment-format this.eventDate "z" timeZone=this.activeRegionTimeZone}}</span>
        </div>
      </form.field>
    </div>
  </div>
{{/with}}
