<div class="treadmill-content__fixed-header text-sm">
  <div class="flex items-center h-10">
    <CrunchyBreadcrumbs />
  </div>
</div>

<div class="treadmill-content__table-body pt-20 container--md">
  <User::DetailsForm @model={{@model}} />
  <div class="dig-card">
    <h2 class="dig-section-title mb-4">Associated Businesses</h2>
    {{#each @model.businesses as |business|}}
      <div class="mb-4">
        <Business::ListRow @model={{business}} @isNarrow={{true}} />
      </div>
    {{/each}}
    {{#if (or @model.loading @model.businesses.loading)}}
      <div class="absolute inset-0 flex p-10 items-center justify-center h-screen text-brand-primary">
        <FaIcon @icon="spinner" @pulse={{true}} @size="2x" />
      </div>
    {{else if (eq @model.businesses.length 0)}}
      <div class="border rounded bg-white m-4 p-6">
        <p> {{@model.email}} is not associated with any businesses. </p>
      </div>
    {{/if}}
  </div>
</div>
