<div class="treadmill-content__fixed-header text-sm">
  <div class="container flex h-10">
    <div class="flex relative w-1/3">
      <div class="absolute left-0 top-0 bottom-0 flex items-center text-teal-600 font-medium px-2">
        <FaIcon @icon="search" />
      </div>
      <Input
        @type="search"
        @value={{this.searchString}}
        @key-up={{perform this.didSearch}}
        @focus-out={{perform this.didSearch}}
        @escape-press={{action "clearSearch"}}
        @placeholder="Search..."
        aria-label="Search categories"
        data-test-id="search"
        class="rounded border-0 p-3 pl-8 w-full border border-gray-300 bg-gray-100 focus:bg-white" />
    </div>
    <div class="flex w-2/3 pl-3 justify-end items-center">
      <LinkTo @route="authenticated.region.site-settings.categories.new" @class="crunchy-button--primary crunchy-button--text-sm" data-test-id="add-new-category">
        <FaIcon @icon="plus" @size="xs" class="mr-1" /> Add Category
      </LinkTo>
    </div>
  </div>
</div>

<div class="treadmill-content__table-body container pt-20">
  <EllaTreadmill
    @content={{@model}}
    @minColumnWidth="100%"
    @row="70" as |item|
  >
    {{#if item.is_loading}}
      <div class="flex items-center justify-center">
        <FaIcon @icon="spinner" @pulse={{true}} class="text-gray-500" />
      </div>
    {{else}}
      <Category::ListRow @model={{item}} />
    {{/if}}
  </EllaTreadmill>

  {{#if (or this.didSearch.isRunning @model.loading)}}
    <div class="absolute inset-0 flex p-10 items-center justify-center h-screen text-brand-primary">
      <FaIcon @icon="spinner" @pulse={{true}} @size="2x" />
    </div>
  {{else if (eq @model.length 0)}}
    <div class="border rounded bg-white m-4 p-6">
      <p> No categories found. </p>
    </div>
  {{/if}}
</div>
