<CrunchyForm
  @model={{this}}
  @onSubmit={{action "submit"}}
  as |form|
>
  {{#if this.error}}
    <DigErrorsList as |list|>
      <list.error>{{or this.error.message "An unknown error occurred."}}</list.error>
    </DigErrorsList>
  {{/if}}

  <div class="mb-4">
    <form.text-field
      @field="username"
      @label="Email Address"
      @placeholder="Enter email"
      @autocomplete="username"
    />
  </div>
  <div class="mb-6">
    <form.text-field
      @field="password"
      @label="Password"
      @type="password"
      @placeholder="Enter password"
      @autocomplete={{if @isLogin "current-password" "new-password"}}
    />
  </div>

  <div class="flex w-full justify-between mb-3">
    <form.submit>
      {{if @isLogin "Log In" "Sign Up"}}
    </form.submit>

    <CrunchyButton @class="crunchy-button--link" @onClick={{action "switchActionType"}}>
      {{if this.isLogin "Sign Up" "Log In"}}
    </CrunchyButton>
  </div>
</CrunchyForm>

{{#if this.isLogin}}
  <hr>
  <CrunchyButton @class="crunchy-button--link text-sm">
    Forgot Password?
  </CrunchyButton>
{{/if}}

<div class="my-6 flex flex-col items-center">
  <CrunchyButton @class="crunchy-button--auth crunchy-button--google w-full mb-4 max-w-xs" @onClick={{perform this.authenticateWithProvider "google"}}>
    <img class="auth-provider-icon" src="/icons/google.svg" alt="" role="presentation">
    <span class="auth-provider-text"> Sign in with Google </span>
  </CrunchyButton>
  <CrunchyButton @class="crunchy-button--auth crunchy-button--facebook w-full mb-4 max-w-xs" @onClick={{perform this.authenticateWithProvider "facebook"}}>
    <img class="auth-provider-icon" src="/icons/facebook.svg" alt="" role="presentation">
    <span class="auth-provider-text"> Sign in with Facebook </span>
  </CrunchyButton>
</div>
