<div class="treadmill-content__fixed-header pb-0 text-sm">
  <div class="flex h-10">
    <div class="flex relative w-1/3">
      <div class="absolute left-0 top-0 bottom-0 flex items-center text-teal-600 font-medium px-2">
        <FaIcon @icon="search" />
      </div>
      <Input
        @type="search"
        @value={{this.searchString}}
        @key-up={{perform this.didSearch}}
        @focus-out={{perform this.didSearch}}
        @escape-press={{action "clearSearch"}}
        @placeholder="Search..."
        aria-label="Search for business..."
        data-test-id="search"
        class="rounded border-0 p-3 pl-8 w-full border border-gray-300 bg-gray-100 focus:bg-white" />
    </div>
    <div class="flex w-2/3 items-center justify-start text-gray-600">
      <div class="flex items-center w-full justify-center">
        <label class="whitespace-no-wrap ml-2 mr-4">Date range:</label>
        <div class="relative">
          <EmberFlatpickr
            @allowInput={{false}}
            @appendDataInput={{true}}
            @date={{readonly this.dateRange}}
            @mode="range"
            @onClose={{perform this.didSearch}}
            @onChange={{action (mut this.dateRange)}}
            @onReady={{action "onReady"}}
            @placeholder="Pick start date"
            class="rounded border-0 p-3 pl-8 w-64 border border-gray-300 bg-gray-100 focus:bg-white h-10"
          />
          <div class="absolute left-0 top-0 bottom-0 flex items-center text-teal-600 font-medium px-2">
            <FaIcon @icon="calendar" />
          </div>
        </div>
      </div>
      <select onchange={{action "dateGroupChanged" value="target.value"}} class="bg-white">
        <option value="day" selected={{eq this.grouping "day"}}>Results by day</option>
        <option value="week" selected={{eq this.grouping "week"}}>Results by week</option>
        <option value="month" selected={{eq this.grouping "month"}}>Results by month</option>
      </select>
    </div>
  </div>
  <div class="flex h-8"></div>
  <Analytics::TableHeader />
</div>
<div class="analytics-table__wrapper">
  <EllaTreadmill
    @content={{@model}}
    @minColumnWidth="100%"
    @row="48" as |item|
  >
    {{#if item.is_loading}}
      <Analytics::SkeletonTableRow />
     {{else}}
      <Analytics::TableRow @model={{item}} />
    {{/if}}
  </EllaTreadmill>

  {{#if (or this.didSearch.isRunning @model.loading)}}
    <div class="absolute inset-0 flex p-10 items-center justify-center h-screen text-brand-primary">
      <FaIcon @icon="spinner" @pulse={{true}} @size="2x" />
    </div>
  {{else if (eq @model.length 0)}}
    <div class="border rounded bg-white m-4 p-6">
      <p> No analytics data found. </p>
    </div>
  {{/if}}
</div>
