<BasicDropdown
  @horizontalPosition="right"
  @disabled={{eq this.regionsService.regions.length 1}}
  as |dd|>
  <dd.Trigger class="flex items-center focus:outline-none mr-3" data-test-id="select-region-dd-trigger">
    <span class="mr-1 font-bold" data-test-id="active-region">{{this.activeRegion.longName}}</span>
    <FaIcon @icon="angle-down" @size="xs" />
  </dd.Trigger>
  <dd.Content class="shadow p-1 mt-2 border rounded-sm">
    <ul>
      {{#each this.regionsService.regions as |region|}}
        <li class="py-2 px-4 flex w-full" data-test-id={{concat "select-region-" region.id}}>
          <CrunchyButton @onClick={{fn this.selectRegion region dd}} @class="crunchy-button--link">
            <span class={{if (eq region.id regionsService.activeRegion.id) "font-bold"}}>{{region.longName}}</span>
          </CrunchyButton>
          {{#if this.currentUser.isAdmin}}
            <div
              class="ml-2 h-5 leading-tight text-xs {{if region.active "text-brand-primary-accent" "text-gray-600"}}"
              title={{if region.active "Region is public and visible to users" "Region is not visible to users"}}
            >
              {{if region.active "Active" "Inactive"}}
            </div>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </dd.Content>
</BasicDropdown>
