<CrunchyMediaObject
  @style="horizontal"
  @class="min-h-48 overflow-hidden"
  as |card|>
  {{#if (media "isMediumUp")}}
    <card.image
      @height="190px"
      @width="190px"
      @url={{this.model.logo.sizes.smallx2}}
      class="border-r"
    />
  {{/if}}
  <card.header class="flex justify-between">
    <p data-test-id="business-list-row" class="font-bold text-xl mb-2">{{this.model.name}}</p>
    <LinkTo
      @route="authenticated.region.businesses.view"
      @model={{this.model.id}}
      @aria-label="View business details"
      class="font-bold text-brand-primary whitespace-no-wrap text-sm block"
    >
      View Business
    </LinkTo>
  </card.header>
  <card.body>
    <p class="text-sm">{{truncate-text this.model.description limit=225}}</p>
    <ul class="absolute left-0 bottom-0 p-2">
      <CrunchyChip @tagName="li">
        {{this.model.displayRole}}
      </CrunchyChip>
      {{#if this.model.featured}}
        <CrunchyChip @tagName="li" @title="Featured">
          <FaIcon @icon="star" />
        </CrunchyChip>
      {{/if}}
      {{#each this.model.categories as |category|}}
        <CrunchyChip @tagName="li">
          {{category.longName}}
        </CrunchyChip>
      {{/each}}
      <CrunchyChip @tagName="li" @title={{concat this.model.likesCount " likes"}}>
        <FaIcon @icon="heart" />&nbsp;{{this.model.likesCount}}
      </CrunchyChip>
      <CrunchyChip @tagName="li" @title={{concat this.model.numberOfLocations " locations"}}>
        <FaIcon @icon="building" />&nbsp;{{this.model.numberOfLocations}}
      </CrunchyChip>
      {{#if this.model.twitterUrl}}
        <CrunchyChip @tagName="li" @title={{this.model.twitterUrl}}>
          <FaIcon @icon="twitter" @prefix="fab" />
        </CrunchyChip>
      {{/if}}
      {{#if this.model.facebookUrl}}
        <CrunchyChip @tagName="li" @title={{this.model.facebookUrl}}>
          <FaIcon @icon="facebook" @prefix="fab" />
        </CrunchyChip>
      {{/if}}
      {{#if this.model.instagramUrl}}
        <CrunchyChip @tagName="li" @title={{this.model.instagramUrl}}>
          <FaIcon @icon="instagram" @prefix="fab" />
        </CrunchyChip>
      {{/if}}
    </ul>
  </card.body>
</CrunchyMediaObject>
