<h1 class="dig-section-title mb-4">Success!</h1>

<CrunchyForm
  @model={{@model}}
  @formSchema={{@model.validationSchema}}
  @onSubmit={{@save}}
  @onCancel={{@cancel}}
  @debounceSubmit={{true}}
  @isReadonly={{this.isReadonly}}
  as |form|>

  <div class="">
    <p class="mb-8 text-xl">
      The listing for <span class="font-semibold text-brand-primary">{{@model.name}}</span>
      has been created and saved.
    </p>

    <div class="flex flex-col items-start mb-8">
      <XToggle
        @showLabels={{true}}
        @size="small"
        @value={{@model.active}}
        @onToggle={{action (mut @model.active)}}
        @disabled={{this.isReadonly}}
        as |toggle|
      >
        <toggle.label @value={{@model.active}}>
          <b class="pr-2 text-lg">Activate business now?</b>
        </toggle.label>
        <toggle.switch @theme='light' />
      </XToggle>
      <p class="text-gray-600 text-sm">You can change this later at anytime.</p>
    </div>

    <p class="mb-2"><span class="font-semibold">Only active businesses are visible to users.</span> If you have added members to this business, they will not be able to view or edit until the listing is activated.</p>
  </div>

  <div class="flex justify-end mt-8">
    <form.submit @value="Finish" @class="mr-2 md:w-32" />
  </div>
</CrunchyForm>
