<CpPanel @open={{@open}} @class={{@class}} as |panel|>
  <panel.toggle>
    <div class="border-b font-bold py-4 px-1 text-lg text-brand-primary flex items-center">
      {{svg-jar "arrow_down" class=(concat (if (not panel.isOpen) "transform -rotate-90 ") "brand-primary-svg mr-2 transition") width="12px"}}
      <span>{{@title}}</span>
    </div>
  </panel.toggle>
  <panel.body>
    <div class="px-2 py-2">
      {{yield}}
    </div>
  </panel.body>
</CpPanel>
