<div class="border rounded p-4 bg-white mb-4">
  <div class="flex mb-3 justify-between">
    <h1 class="font-semibold text-lg"> {{if this.isReadonly "Business Details" "Edit Business Details"}} </h1>
    {{#if this.isReadonly}}
      <CrunchyButton
        @onClick={{action (mut this.isEditing) (not this.isEditing)}}
        @class="crunchy-button--icon"
        @aria-label="Edit business details">
        <FaIcon @icon="edit" @size="lg" />
      </CrunchyButton>
    {{else}}
      <CrunchyButton
        @onClick={{action "cancel"}}
        @class="crunchy-button--icon"
        @aria-label="Close form">
        <FaIcon @icon="times" />
      </CrunchyButton>
    {{/if}}
  </div>

  <CrunchyForm
    @model={{@model}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    as |form|>

    <form.text-field
      @field="name"
      @label="Name"
      @aria-label="Business Name"
      @disabled={{this.isReadonly}}
    />

    <form.text-area
      @field="description"
      @label="What You Need To Know"
      @aria-label="What you need to know about the business"
      @rows="3"
      @disabled={{this.isReadonly}}
    />

    <form.text-area
      @field="description2"
      @label="What The Locals Say"
      @aria-label="What the locals say about the business"
      @rows="3"
      @disabled={{this.isReadonly}}
    />

    <form.text-field
      @field="tip"
      @label="Local's Tip"
      @aria-label="An insider tip or suggestion about the business"
      @disabled={{this.isReadonly}}
    />

    <form.checkbox
      @field="featured"
      @label="Featured?"
      @disabled={{this.isReadonly}}
    />

    <div class="w-full flex">
      <div class="mr-4 flex-grow">
        <form.field
          @label="Logo"
          @aria-label="Business logo">
          <img class="h-10 w-auto" src={{@model.logo.url}} alt={{concat "Logo for " @model.name}}>
        </form.field>
      </div>
      <div class="flex-grow">
        <form.text-field
          @field="website"
          @label="Website"
          @aria-label="Url for business website"
          @disabled={{this.isReadonly}}
        />
      </div>
    </div>

    <form.field @field="categories" @label="Categories">
      {{#if this.isEditing}}
        <PowerSelectMultiple
          @searchEnabled={{true}}
          @searchField="longName"
          @options={{this.categoryOptions}}
          @selected={{@model.categories}}
          @placeholder="Select category tags..."
          @onChange={{action (mut @model.categories)}} as |category|>
          {{category.longName}}
        </PowerSelectMultiple>
      {{else}}
        <ul>
          {{#each @model.categories as |category|}}
            <CrunchyChip @tagName="li">
              {{category.longName}}
            </CrunchyChip>
          {{/each}}
        </ul>
      {{/if}}

    </form.field>

    {{#if this.isEditing}}
      <div class="flex justify-between mt-8">
        <CrunchyButton @onClick={{action (mut this.showDestroyModal) true}} @value="Delete Business" @class="crunchy-button--outline" />
        <div class="flex">
          <form.submit @value="Submit" @class="mr-2"/>
          <form.cancel @value="Cancel" />
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{action "delete"}}
  @onCancel={{action (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete <span class="font-semibold text-brand-primary">{{@model.name}}</span> and all related content?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>
