<div class="dig-card">
  <CrunchyForm
    @model={{@model}}
    @formSchema={{@model.validationSchema}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    @debounceSubmit={{true}}
    @isReadonly={{this.isReadonly}} as |form|>
    <div class="flex mb-3 justify-between">
      <h1 class="dig-section-title"> {{if this.isReadonly "Business Details" "Edit Business Details"}} </h1>
      {{#if this.isReadonly}}
        <CrunchyButton
          @onClick={{action (mut this.isEditing) (not this.isEditing)}}
          @class="crunchy-button--icon"
          @aria-label="Edit business details">
          <FaIcon @icon="edit" @size="lg" />
        </CrunchyButton>
      {{else}}
        <CrunchyButton
          @onClick={{form.resetForm}}
          @class="crunchy-button--icon"
          @aria-label="Close form">
          <FaIcon @icon="times" @size="lg" />
        </CrunchyButton>
      {{/if}}
    </div>

    <form.text-field
      @field="name"
      @label="Name"
      @aria-label="Business Name"
    />

    <form.text-area
      @field="description"
      @label="What You Need To Know"
      @aria-label="What you need to know about the business"
      @rows="3"
    />

    <form.text-area
      @field="description2"
      @label="What The Locals Say"
      @aria-label="What the locals say about the business"
      @rows="3"
    />

    <form.text-field
      @field="tip"
      @label="Local's Tip"
      @aria-label="An insider tip or suggestion about the business"
    />

    <div class="w-full flex flex-wrap md:flex-no-wrap">
      <div class="mr-4 flex-grow">
        <form.field
          @label="Logo"
          @aria-label="Business logo">
          {{#if (and @model.logo @model.logo.url)}}
            <img class="h-10 w-auto" src={{@model.logo.url}} alt={{concat "Logo for " @model.name}}>
          {{else}}
            <span class="text-sm text-gray-600 italic">None</span>
          {{/if}}
        </form.field>
      </div>
      <div class="flex-grow">
        <form.field @field="categories" @label="Categories">
          {{#if this.isEditing}}
          <PowerSelectMultiple @searchEnabled={{true}} @searchField="longName" @options={{this.categoryOptions}}
            @selected={{@model.categories}} @placeholder="Select category tags..." @onChange={{action (mut @model.categories)}}
            as |category|>
            {{category.longName}}
          </PowerSelectMultiple>
          {{else}}
          <ul>
            {{#each @model.categories as |category|}}
            <CrunchyChip @tagName="li">
              {{category.longName}}
            </CrunchyChip>
            {{else}}
            <span class="text-sm text-gray-600 italic">None</span>
            {{/each}}
          </ul>
          {{/if}}
        </form.field>
      </div>
    </div>

    <div class="flex justify-start items-center crunchy-form__group">
      <XToggle
        @showLabels={{true}}
        @size="small"
        @value={{@model.active}}
        @onToggle={{action (mut @model.active)}}
        @disabled={{this.isReadonly}}
        as |toggle|
      >
        <toggle.label @value={{@model.active}}>
          <b class="pr-2">Active</b>
        </toggle.label>
        <toggle.switch @theme='light' />
      </XToggle>
    </div>

    <div class="flex justify-start items-center crunchy-form__group">
      <XToggle
        @showLabels={{true}}
        @size="small"
        @value={{@model.featured}}
        @onToggle={{action (mut @model.featured)}}
        @disabled={{this.isReadonly}}
        as |toggle|
      >
        <toggle.label @value={{@model.featured}}>
          <b class="pr-2">Featured</b>
        </toggle.label>
        <toggle.switch @theme='light' />
      </XToggle>
    </div>

    <form.errors @errorHeading="Unable to save due to the following errors:" />

    {{#if this.isEditing}}
      <div class="flex justify-between mt-8">
        <CrunchyButton @onClick={{action (mut this.showDestroyModal) true}} @value="Delete Business" @class="crunchy-button--outline" />
        <div class="flex flex-wrap">
          <form.submit @value="Submit" @class="mr-2 md:w-32" />
          <form.cancel @value="Cancel" />
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>

<CrunchyConfirm
  @show={{this.showDestroyModal}}
  @confirmText="Delete"
  @onConfirm={{action "delete"}}
  @onCancel={{action (mut this.showDestroyModal) false}}
>
  <p>Are you sure you want to delete <span class="font-semibold text-brand-primary">{{@model.name}}</span> and all related content?</p>
  <strong>This cannot be undone.</strong>
</CrunchyConfirm>
