{{#with @form as |form|}}
    <div data-test-id={{concat "fields-for-day-" @model.dayOfWeek}} class="flex items-center text-sm mb-1">
      <p class="w-32 font-bold vertical-align">{{@model.dayDisplayName}}</p>
      <div class="flex w-56 space-between {{if @model.closed "text-gray-400"}}">
        <EmberFlatpickr
          @allowInput={{false}}
          @altInput={{true}}
          @altFormat="h:iK"
          @appendDataInput={{true}}
          @enableTime={{true}}
          @noCalendar={{true}}
          @date={{readonly @model.openTime}}
          @dateFormat="H:i"
          @onChange={{action "didUpdateTime" "openTime"}}
          @placeholder="Open"
          class="w-1/3 border border-brand-gray rounded px-2 py-1"
          data-test-id="openTime"
        />
        <div class="px-4 flex items-center justify-center"> - </div>
        <EmberFlatpickr
          @allowInput={{false}}
          @altInput={{true}}
          @altFormat="h:iK"
          @appendDataInput={{true}}
          @enableTime={{true}}
          @noCalendar={{true}}
          @date={{readonly @model.closeTime}}
          @dateFormat="H:i"
          @onChange={{action "didUpdateTime" "closeTime"}}
          @placeholder="Close"
          class="w-1/3 p-1 border border-brand-gray rounded px-2"
          data-test-id="closeTime"
        />
      </div>

      <div class="">
        <form.fields-for @model={{@model}} as |hoursForm|>
          <hoursForm.checkbox @field="closed" @label="Closed" />
        </form.fields-for>
      </div>
    </div>
{{/with}}
