<div class="dig-card">
  <div class="flex mb-6 justify-between">
    <h1 class="dig-section-title"> {{if this.isReadonly "Social Media" "Edit Social Media"}} </h1>
    {{#if this.isReadonly}}
      <CrunchyButton
        @onClick={{action (mut this.isEditing) (not this.isEditing)}}
        @class="crunchy-button--icon"
        @aria-label="Edit social media details for business">
        <FaIcon @icon="edit" @size="lg" />
      </CrunchyButton>
    {{else}}
      <CrunchyButton
        @onClick={{action "cancel"}}
        @class="crunchy-button--icon"
        @aria-label="Close form">
        <FaIcon @icon="times" @size="lg" />
      </CrunchyButton>
    {{/if}}
  </div>

  <CrunchyForm
    @model={{@model}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    @isReadonly={{this.isReadonly}}
    @debounceSubmit={{true}}
    as |form|>

    <form.text-field
      @field="twitterUrl"
      @label="Twitter"
      @aria-label="Twitter url"
    />

    <form.text-field
      @field="instagramUrl"
      @label="Instagram"
      @aria-label="Instagram url"
    />

    <form.text-field
      @field="facebookUrl"
      @label="Facebook"
      @aria-label="Facebook url"
    />

    <form.errors @errorHeading="Unable to save due to the following errors:" />

    {{#if this.isEditing}}
      <div class="flex justify-end mt-8">
        <div class="flex flex-wrap">
          <form.submit @value="Submit" @class="mr-2 md:w-32" testId="save-social" />
          <form.cancel @value="Cancel" />
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>
