<div class="dig-card">
  <CrunchyForm
    @model={{@model}}
    @formSchema={{@model.validationSchema}}
    @onSubmit={{action "save"}}
    @onCancel={{action "cancel"}}
    @isReadonly={{this.isReadonly}}
    @debounceSubmit={{true}} as |form|>
    <div class="flex mb-6 justify-between">
      <h1 class="dig-section-title"> {{if this.isReadonly "Web & Social" "Edit Web & Social"}} </h1>
      {{#if this.isReadonly}}
        <CrunchyButton
          @onClick={{action (mut this.isEditing) (not this.isEditing)}}
          @class="crunchy-button--icon"
          @aria-label="Edit social media details for business">
          <FaIcon @icon="edit" @size="lg" />
        </CrunchyButton>
      {{else}}
        <CrunchyButton
          @onClick={{form.resetForm}}
          @class="crunchy-button--icon"
          @aria-label="Close form">
          <FaIcon @icon="times" @size="lg" />
        </CrunchyButton>
      {{/if}}
    </div>

    <form.text-field @field="website" @label="Business Website" @aria-label="Url for business website" />

    <Ui::CollapsibleSection @title="Social Media Links" @open={{true}}>
      <form.text-field @field="twitterUrl" @label="Twitter" @aria-label="Twitter url" />
    
      <form.text-field @field="instagramUrl" @label="Instagram" @aria-label="Instagram url" />
    
      <form.text-field @field="facebookUrl" @label="Facebook" @aria-label="Facebook url" />
    </Ui::CollapsibleSection>
    
    <Ui::CollapsibleSection @title="Delivery Info" @open={{false}} @class="mb-8">
      <form.text-field @field="deliveryOptions.grubhub" @label="Grubhub" @aria-label="Url for GrubHub profile" />
      <form.text-field @field="deliveryOptions.postmates" @label="Postmates" @aria-label="Url for Postmates profile" />
      <form.text-field @field="deliveryOptions.kickbackAvl" @label="Kickback AVL" @aria-label="Url for Kickback AVL profile" />
      <form.text-field @field="deliveryOptions.takeoutCentral" @label="Takeout Central" @aria-label="Url for Takeout Central profile" />
      <form.text-field @field="deliveryOptions.doordash" @label="DoorDash" @aria-label="Url for DoorDash profile" />
    </Ui::CollapsibleSection>

    <form.errors @errorHeading="Unable to save due to the following errors:" />

    {{#if this.isEditing}}
      <div class="flex justify-end mt-8">
        <div class="flex flex-wrap">
          <form.submit @value="Submit" @class="mr-2 md:w-32" testId="save-social" />
          <form.cancel @value="Cancel" />
        </div>
      </div>
    {{/if}}
  </CrunchyForm>
</div>
