<div class="flex mb-6 justify-between">
  <h1 class="font-semibold text-lg"> {{if this.isReadonly "Social Media" "Edit Social Media"}} </h1>
  {{#if this.isReadonly}}
    <CrunchyButton
      @onClick={{action (mut this.isEditing) (not this.isEditing)}}
      @class="crunchy-button--icon"
      @aria-label="Edit social media details for business">
      <FaIcon @icon="edit" @size="lg" />
    </CrunchyButton>
  {{else}}
    <CrunchyButton
      @onClick={{action "cancel"}}
      @class="crunchy-button--icon"
      @aria-label="Close form">
      <FaIcon @icon="times" />
    </CrunchyButton>
  {{/if}}
</div>

<CrunchyForm
  @model={{model}}
  @onSubmit={{action "save"}}
  @onCancel={{action "cancel"}}
  as |form|>

  <div class="mb-6">
    <form.text-field
      @field="twitterUrl"
      @label="Twitter"
      @aria-label="Twitter url"
      @disabled={{this.isReadonly}}
    />

    <form.checkbox
      @field="embedTwitterEnabled"
      @label="Display Twitter Feed"
      @disabled={{this.isReadonly}}
    />
  </div>

  <div class="mb-6">
    <form.text-field
      @field="instagramUrl"
      @label="Instagram"
      @aria-label="Instagram url"
      @disabled={{this.isReadonly}}
    />

    <form.checkbox
      @field="embedInstagramEnabled"
      @label="Display Instagram Feed"
      @disabled={{this.isReadonly}}
    />
  </div>

  <div class="mb-6">
    <form.text-field
      @field="facebookUrl"
      @label="Facebook"
      @aria-label="Facebook url"
      @disabled={{this.isReadonly}}
    />

    <form.checkbox
      @field="embedFacebookEnabled"
      @label="Display Facebook Feed"
      @disabled={{this.isReadonly}}
    />
  </div>

  {{#if this.isEditing}}
    <div class="flex justify-end mt-8">
      <div>
        <form.submit @value="Submit" @class="mr-2"/>
        <form.cancel @value="Cancel" />
      </div>
    </div>
  {{/if}}
</CrunchyForm>
