<div class="border border-gray-400 p-4 m-4">
  <label class="w-full">Username <button class="float-right" {{action "save" model}}><FaIcon @icon="edit" /></button></label>
  <div class="p-2 border-t border-gray-300 font-mono text-xs text-gray-700"><Input @value={{model.user}} @class="w-full" /></div>
  <label class="w-full">Email</label>
  <div class="p-2 border-t border-gray-300 font-mono text-xs text-gray-700"><Input @value={{model.email}} @class="w-full" /></div>
  <div class="p-2 border-t border-gray-300 font-mono text-xs text-gray-700">
    <label><Input @type="checkbox" @checked={{model.active}} />Active</label>
    <label><Input @type="checkbox" @checked={{model.admin}} />Admin</label>
  </div>
  <label class="w-full">Password (Not implemented as this is not secure)</label>
  <div class="p-2 border-t border-gray-300 font-mono text-xs text-gray-700"><Input @type="password" @value={{model.password}} @class="w-full" /></div>
</div>