<table data-test-id="display-hours-table">
  <tbody>
    {{#each @operatingHours as |day|}}
      <tr class="text-sm py-1" data-test-id={{concat "display-for-day-" day.dayOfWeek}}>
        <td class="font-bold pr-4 w-32">{{day.dayDisplayName}}</td>
        <td>
          {{#if day.closed}}
            <span class="text-gray-600">Closed</span>
          {{else}}
            {{moment-format day.openTime "h:mma" "HH:mm:ss"}} to {{moment-format day.closeTime "h:mma" "HH:mm:ss"}}
          {{/if}}
        </td>
      </tr>
    {{else}}
      <p class="mb-3 text-sm italic mx-2"> No hours found </p>
    {{/each}}
  </tbody>
</table>
