{{#component this.group
  field=this.field
  model=this.model
  as |group|}}

  <div class="flex w-full">
    <group.control as |control|>
      <Input
        @id={{control.controlId}}
        @checked={{this.value}}
        @type="checkbox"
        @disabled={{@disabled}}
        aria-label={{@aria-label}}
        @data-test-id={{concat @field "-checkbox"}}
        @keyPress={{fn group.validateField @field}}
        @click={{fn group.validateField @field}}
        @touchStart={{fn group.validateField @field}}
        @class={{concat "crunchy-form__checkbox "
          @controlClass
        }}
      />
    </group.control>

    <group.label class={{concat "crunchy-form__group-label--checkbox " @labelClass}}>
      {{@label}}
    </group.label>
  </div>

  {{#if group.hasError}}
    <group.errors class={{@errorClass}} />
  {{/if}}
{{/component}}
