<CrunchyMediaObject @style="horizontal" @class="min-h-24 overflow-hidden" as |card|>
  <card.image class="crunchy-media-object__image-wrapper--no-bg">
    {{!-- TODO - how do we know which profileImage for the hasMany array to use?? --}}
    <div class="m-2">
      <div
        class="mx-auto flex-none bg-cover bg-center bg-no-repeat text-center overflow-hidden bg-gray-100 rounded-full m-2"
        style="background-image: url('{{model.profileImages.firstObject.sizes.small}}'); height:96px; width:96px"
      >
        {{#if (not model.profileImages.length)}}
        <div class="flex w-full h-full items-center justify-center">
          <FaIcon @icon="user" @size="3x" class="text-gray-300" />
        </div>
        {{/if}}
      </div>
    </div>
  </card.image>
  <card.header class="flex justify-between">
    <div class="flex items-end mb-1">
      <p class="font-bold text-lg mr-1">{{model.email}}</p>
      <ul class="hidden sm:block">
        <CrunchyChip
          @tagName="li"
          @label={{capitalize model.role}}
          @title={{concat (capitalize model.role) " Role"}}
        />
      </ul>
    </div>
    {{#if this.isLinkable}}
      <LinkTo
        @route="authenticated.users.view"
        @model={{model.id}}
        @aria-label="View user details"
        class="font-bold text-brand-primary whitespace-no-wrap text-sm block"
      >
        View User
      </LinkTo>
    {{/if}}
  </card.header>
  <card.body>
    <dl aria-label="Details for forum post {{model.title}}" class="text-xs">
      <div class="flex mb-1">
        <dt class="pr-1 text-gray-600">Username:</dt>
        <dd class="">{{model.user}}</dd>
      </div>
      <div class="flex mb-1">
        <dt class="pr-1 text-gray-600">Last signed in at:</dt>
        <dd class="">
          {{#if model.lastSignInAt}}
            {{moment-calendar model.lastSignInAt}}
          {{else}}
            N/A
          {{/if}}
        </dd>
      </div>
    </dl>
    <ul aria-label="Additional profile details for {{model.fullName}}">
      <CrunchyChip
        @tagName="li"
        @label={{model.profileStatus}}
        @title={{concat "Profile status is " (capitalize model.profileStatus)}}
      />
      <CrunchyChip
        @tagName="li"
        @title="Sign in count"
      >
        <FaIcon @icon="sign-in-alt" />&nbsp;{{model.signInCount}}
      </CrunchyChip>
      <CrunchyChip
        @tagName="li"
        @label={{html-safe (concat "&hearts; " model.favoritesCount)}}
        @title={{concat model.favoritesCount " favorites"}}
      />
    </ul>
  </card.body>
</CrunchyMediaObject>
