<div class="treadmill-content__fixed-header">
  <div class="flex h-10">
    <div class="flex relative w-1/2">
      <div class="absolute left-0 top-0 bottom-0 flex items-center text-teal-600 font-medium px-2">
        <FaIcon @icon="search" />
      </div>
      <Input
        @type="search"
        @value={{this.searchString}}
        @key-up={{perform didSearch}}
        @focus-out={{perform didSearch}}
        @escape-press={{action "clearSearch"}}
        @placeholder="Search..."
        aria-label="Search businesses"
        class="rounded border-0 p-3 pl-8 w-full border border-gray-300 bg-gray-100 focus:bg-white" />
    </div>
    <div class="flex w-1/2 items-center text-gray-600">
      <BasicDropdown as |dd|>
        <dd.Trigger class="ml-2 pb-1 px-2 inline-block">
          Listing Type <FaIcon @icon="angle-down" @size="xs" class="ml-1" />
        </dd.Trigger>
        <dd.Content class="shadow p-2 border">
          <form>
            <fieldset>
              <div class="p-1">
                <input id="featured" type="checkbox" name="featured" checked={{this.featured}} onchange={{action (mut this.featured) value="target.checked"}} >
                <label for="admin">Featured</label>
              </div>
              <div class="p-1">
                <input id="paying" type="checkbox" name="paying" checked={{contains "premium" this.roles}} onchange={{action "addFilter" "paying" "roles"}} >
                <label for="paying">Paid Listing</label>
              </div>
              <div class="p-1">
                <input id="2types" type="checkbox" name="2types" checked={{contains "2types" this.roles}} onchange={{action "addFilter" "2types" "roles"}} >
                <label for="2types">Paid Listing with 2 Categories</label>
              </div>
              <div class="p-1">
                <input id="temporary" type="checkbox" name="temporary" checked={{contains "temporary" this.roles}} onchange={{action "addFilter" "temporary" "roles"}} >
                <label for="temporary">Non-Paying (Temporary)</label>
              </div>
            </fieldset>
          </form>
        </dd.Content>
      </BasicDropdown>
      <BasicDropdown as |dd|>
        <dd.Trigger class="ml-2 pb-1 px-2 inline-block">
          Category <FaIcon @icon="angle-down" @size="xs" class="ml-1" />
        </dd.Trigger>
        <dd.Content class="shadow p-2 border">
          <form>
            <fieldset>
              {{#each this.categoryOptions as |category|}}
                <div class="p-1">
                  <input id={{category.id}} type="checkbox" name={{category.longName}} checked={{contains category.id this.categories}} onchange={{action "addFilter" category.id "categories"}} >
                  <label for={{category.id}}>{{category.longName}}</label>
                </div>
              {{/each}}
            </fieldset>
          </form>
        </dd.Content>
      </BasicDropdown>
    </div>
    <div class="flex w-1/2 items-center text-gray-600">
      <select onchange={{action "sortChanged" value="target.value"}}>
        <option value="user">Name</option>
        <option value="likes">Likes</option>
      </select>
    </div>
  </div>
</div>

<div class="treadmill-content__table-body pt-32">
  <EllaTreadmill
    @content={{model}}
    @minColumnWidth="100%"
    @row="210" as |item|
  >
    <Business::ListRow @model={{item}} />
  </EllaTreadmill>

  {{#if this.didSearch.isRunning}}
    <div class="absolute inset-0 flex p-10 items-center justify-center h-screen text-brand-primary">
      <FaIcon @icon="spinner" @spin={{true}} @size="2x" />
    </div>
  {{/if}}
</div>
