<div class="treadmill-content__fixed-header">
  <div class="flex h-10">
    <div class="flex relative w-1/2">
      <div class="absolute left-0 top-0 bottom-0 flex items-center text-teal-600 font-medium px-2">
        <FaIcon @icon="search" />
      </div>
      <Input
        @type="search"
        @value={{this.searchString}}
        @key-up={{perform didSearch}}
        @focus-out={{perform didSearch}}
        @escape-press={{action "clearSearch"}}
        @placeholder="Search..."
        aria-label="Search businesses"
        class="rounded border-0 p-3 pl-8 w-full border border-gray-300 bg-gray-100 focus:bg-white" />
    </div>
    <div class="flex w-1/2 items-center text-gray-600">
      <BasicDropdown as |dd|>
        <dd.Trigger class="ml-2 pb-1 px-2 inline-block">
          Filter <FaIcon @icon="angle-down" @size="xs" class="ml-1" />
        </dd.Trigger>
        <dd.Content class="shadow p-2 border">
          <form>
            <fieldset>
                <div class="p-1">
                  <input id="featured" type="checkbox" name="featured" checked={{contains "featured" this.filters}} onchange={{action "addFilter" "featured"}} >
                  <label for="admin">Featured</label>
                </div>
                <div class="p-1">
                  <input id="paying" type="checkbox" name="paying" checked={{contains "paying" this.filters}} onchange={{action "addFilter" "paying"}} >
                  <label for="paying">Paying</label>
                </div>
                <div class="p-1">
                  <input id="2types" type="checkbox" name="2types" checked={{contains "2types" this.filters}} onchange={{action "addFilter" "2types"}} >
                  <label for="2types">2 Types (What is this?)</label>
                </div>
            </fieldset>
          </form>
        </dd.Content>
      </BasicDropdown>
    </div>
    <div class="flex w-1/2 items-center text-gray-600">
      <select onchange={{action "sortChanged" value="target.value"}}>
        <option value="user">Name</option>
        <option value="email">Email</option>
      </select>
    </div>
  </div>
</div>
<div class="treadmill-content__table-body pt-32">
  <EllaTreadmill
    @content={{model}}
    @minColumnWidth="100%"
    @row="250" as |item|
  >
    <Business::ListRow @model={{item}} />
  </EllaTreadmill>
</div>

<div class="flex text-teal-600 font-medium text-sm p-3 items-center justify-end">
  {{model.length}} of {{model.length}}
</div>
