<h1 class="dig-section-title mb-4">Create a new home</h1>
{{#with @form as |form|}}
  <form.field @field="business" @label="What business does this home belong to?">
    <PowerSelect
      @search={{perform this.searchBusinesses}}
      @searchEnabled={{true}}
      @loadingMessage="Searching businesses...."
      @placeholder="Click to search"
      @selected={{@model.business}}
      @allowClear={{false}}
      @disabled={{or (is-active "authenticated.region.businesses.view") (not this.currentUser.isAdmin)}}
      @onChange={{fn (mut @model.business)}} as |business|
      >
        <span data-test-id="selected-business-name">{{business.name}}</span>
    </PowerSelect>
  </form.field>
  <form.field @field="location" @label="What location does this home belong to?">
    <PowerSelect
      @search={{@model.business.locations}}
      @searchEnabled={{true}}
      @loadingMessage="Searching locations...."
      @placeholder="Click to search"
      @selected={{@model.business.locations.firstObject}}
      @allowClear={{false}}
      @disabled={{or (is-active "authenticated.region.businesses.view") (not this.currentUser.isAdmin)}}
      @onChange={{fn (mut @model.business)}} as |business|
      >
        <span data-test-id="selected-location-name">{{business.name}}</span>
    </PowerSelect>
  </form.field>

  <form.text-field
    @field="title"
    @label="Title"
    @placeholder="Add a headline for this home"
    @controlClass="font-bold"
  />
  <form.text-field
    @field="additionalDetails.mls_number"
    @label="MLS #"
    @placeholder="12312"
  />
  <form.text-field
    @field="additionalDetails.bedrooms"
    @label="Bedrooms"
    @placeholder="3"
  />
  <form.text-field
    @field="additionalDetails.bathrooms"
    @label="Bathrooms"
    @placeholder="2"
  />
  <form.text-field
    @field="additionalDetails.building_size"
    @label="Building Size"
    @placeholder="1200SQFT"
  />
  <form.text-field
    @field="additionalDetails.lot_size"
    @label="Lot Size"
    @placeholder="1.9 Acre"
  />
  <form.text-field
    @field="additionalDetails.building_type"
    @label="Building Type"
    @placeholder="Single Family Home, Apartment, ..."
  />

  <form.text-area
    @field="description"
    @label="Additional Description"
    @rows="5"
    @placeholder="Add more in-depth description here"
  />

  <form.text-field
    @field="price"
    @label="Price"
    @placeholder="1000"
  />
{{/with}}
