<h1 class="dig-section-title mb-4">Create a new home</h1>
{{#with @form as |form|}}
  <form.field @field="business" @label="What business does this home belong to?">
    <PowerSelect
      @search={{perform this.searchBusinesses}}
      @searchEnabled={{true}}
      @loadingMessage="Searching businesses...."
      @placeholder="Click to search"
      @selected={{this.selectedBusiness}}
      @allowClear={{false}}
      @disabled={{or (is-active "authenticated.region.businesses.view") (not this.currentUser.isAdmin)}}
      @onChange={{this.didSelectBusiness}} as |business|
      >
        <span data-test-id="selected-business-name">{{business.name}}</span>
    </PowerSelect>
  </form.field>
  <form.field @field="location" @label="Which business location does this home belong to?">
    <PowerSelect
      @options={{this.selectedBusiness.locations}}
      @placeholder="Select location"
      @selected={{@model.location}}
      @allowClear={{false}}
      @onChange={{fn (mut @model.location)}} as |location|
      >
        <span data-test-id="selected-location-name">{{location.displayAddress}}</span>
    </PowerSelect>
  </form.field>

  <form.text-field
    @field="title"
    @label="Listing Title"
    @placeholder="Add a headline for this home listing"
    @controlClass="font-bold"
  />

  <form.text-area
    @field="description"
    @label="Description"
    @rows="5"
    @placeholder="Add more in-depth description here"
  />

  <form.text-field
    @field="subTitle"
    @label="Subtitle"
    @placeholder="Add a subtitle"
  />

  <form.text-field
    @field="additionalDetails.mls_number"
    @label="MLS #"
    @placeholder="12312"
  />
  <form.text-field
    @field="additionalDetails.bedrooms"
    @label="Bedrooms"
    @placeholder="3"
  />
  <form.text-field
    @field="additionalDetails.bathrooms"
    @label="Bathrooms"
    @placeholder="2"
  />
  <form.text-field
    @field="additionalDetails.building_size"
    @label="Building Size (SQFT)"
    @placeholder="1200"
    @type="number"
  />
  <form.text-field
    @field="additionalDetails.lot_size"
    @label="Lot Size Acre"
    @placeholder="1.9"
    @step="0.01"
    @type="number"
  />
  <form.text-field
    @field="additionalDetails.year_built"
    @label="Year Built"
    @placeholder="2013"
    @type="number"
  />
  <form.text-field
    @field="additionalDetails.building_type"
    @label="Building Type"
    @placeholder="Single Family Home, Apartment, ..."
  />

  <div class="flex flex-wrap md:flex-no-wrap">
    <div class="w-full md:w-1/2 md:pr-2">
      <form.text-field
        @field="price"
        @label="Price"
        @placeholder="1000"
        @type="number"
      />
    </div>

    <div class="w-full md:w-1/2 md:pl-2">
      <form.field @field="priceTerms" @label="Terms">
        <PowerSelect
          @options={{@model.priceTermsOptions}}
          @selected={{@model.priceTerms}}
          @placeholder="Select price terms"
          @allowClear={{true}}
          @onChange={{fn (mut @model.priceTerms)}} as |term|
          >
            <span data-test-id="selected-price-term">{{term}}</span>
        </PowerSelect>
      </form.field>
    </div>
  </div>
{{/with}}
