<h1 class="dig-section-title mb-4">Create a new home</h1>

<FirebaseUploader @pathName="homes" @uploadCompleteAction={{action "onFileUploadComplete"}} as |uploader|>
  <Ui::DraggableDropzone @dropped={{uploader.didSelectFiles}}>
    <XFileInput @tagName="div" @name="files" @multiple={{false}} @action={{uploader.didSelectFiles}}>
      <div style="width: 100px; height: 100px; background-color:blue">
        <img src={{uploader.uploadStatuses.firstObject.preview}} alt="upload preview">
        {{#if (eq uploader.uploadStatuses.firstObject.state "running")}}
          {{ui/ui-progress progress=uploader.uploadStatuses.firstObject.progress}}
          {{uploader.uploadStatuses.firstObject.progressText}}
        {{/if}}
      </div>
    </XFileInput>
  </Ui::DraggableDropzone>
  {{#if uploader.totalFiles}}
    Completed uploading {{uploader.totalFilesUploaded}} of {{uploader.totalFiles}}
  {{/if}}

  Multi file use
  {{#each uploader.uploadStatuses as |status|}}
    <div style="width: 100px; height: 100px; background-color:blue">
      <img src={{status.preview}} alt="status preview">
      {{#if (eq status.state "running")}}
        {{ui/ui-progress progress=status.progress}}
        {{status.progressText}}
      {{/if}}
    </div>
  {{/each}}
</FirebaseUploader>

{{#with @form as |form|}}
  <form.field @field="business" @label="What business does this home belong to?">
    <PowerSelect
      @search={{perform this.searchBusinesses}}
      @searchEnabled={{true}}
      @loadingMessage="Searching businesses...."
      @placeholder="Click to search"
      @selected={{@model.business}}
      @allowClear={{false}}
      @disabled={{or (is-active "authenticated.region.businesses.view") (not this.currentUser.isAdmin)}}
      @onChange={{fn (mut @model.business)}} as |business|
      >
        <span data-test-id="selected-business-name">{{business.name}}</span>
    </PowerSelect>
  </form.field>
  <form.field @field="location" @label="What location does this home belong to?">
    <PowerSelect
      @search={{@model.business.locations}}
      @searchEnabled={{true}}
      @loadingMessage="Searching locations...."
      @placeholder="Click to search"
      @selected={{@model.business.locations.firstObject}}
      @allowClear={{false}}
      @disabled={{or (is-active "authenticated.region.businesses.view") (not this.currentUser.isAdmin)}}
      @onChange={{fn (mut @model.business)}} as |business|
      >
        <span data-test-id="selected-location-name">{{business.name}}</span>
    </PowerSelect>
  </form.field>

  <form.text-field
    @field="title"
    @label="Title"
    @placeholder="3BR / 2BA 1300Sqft"
  />

  <form.text-field
    @field="subTitle"
    @label="Sub Title"
    @placeholder="Single Family Home, Apartment, ..."
  />

  <form.text-area
    @field="description"
    @label="Additional Description"
    @rows="5"
    @placeholder="Add more in-depth description here"
  />
{{/with}}
