<CrunchyMediaObject @style="horizontal" @class="min-h-24 overflow-hidden" as |card|>
  <card.image class="crunchy-media-object__image-wrapper--no-bg">
    {{!-- TODO - how do we know which profileImage for the hasMany array to use?? --}}
    <div class="m-2">
      <div
        class="mx-auto flex-none bg-cover bg-center bg-no-repeat text-center overflow-hidden bg-gray-100 rounded-full m-2"
        style={{html-safe (concat
          (background-image this.model.profileImages.firstObject.sizes.small)
          "height:96px; width:96px;"
          )}}>
        {{#unless this.model.profileImages.length}}
        <div class="flex w-full h-full items-center justify-center">
          <FaIcon @icon="user" @size="3x" class="text-gray-300" />
        </div>
        {{/unless}}
      </div>
    </div>
  </card.image>
  <card.header class="flex justify-between">
    <div class="flex items-end mb-1">
      <p class="font-bold text-lg mr-1">{{this.model.email}}</p>
      <ul class="hidden sm:block">
        <CrunchyChip
          @tagName="li"
          @label={{capitalize this.model.role}}
          @title={{concat (capitalize this.model.role) " Role"}}
        />
      </ul>
    </div>
    {{#if this.isRemovable}}
      <CrunchyButton @class="crunchy-button--link" @onClick={{action (mut this.showRemoveModal) true}}>
        <FaIcon @icon="trash" /> Remove
      </CrunchyButton>
    {{/if}}
  </card.header>
  <card.body>
    <dl aria-label="Details for forum post {{this.model.title}}" class="text-xs">
      <div class="flex mb-1">
        <dt class="pr-1 text-gray-600">Username:</dt>
        <dd class="">{{this.model.user}}</dd>
      </div>
      <div class="flex mb-1">
        <dt class="pr-1 text-gray-600">Last signed in at:</dt>
        <dd class="">
          {{#if this.model.lastSignInAt}}
            {{moment-calendar this.model.lastSignInAt}}
          {{else}}
            N/A
          {{/if}}
        </dd>
      </div>
    </dl>
  </card.body>
</CrunchyMediaObject>

{{#if this.isRemovable}}
  <CrunchyConfirm
    @show={{this.showRemoveModal}}
    @confirmText="Remove"
    @onConfirm={{action "remove" this.model}}
    @onCancel={{action (mut this.showRemoveModal) false}}
  >
    <p class="mb-4">Are you sure you want to remove <span class="font-semibold text-brand-accent">{{this.model.email}}</span> as a business admin?</p>
  </CrunchyConfirm>
{{/if}}
