{{#if (and this.form.didSubmit
  (or this.form.submitTask.last.isError this.formMessages.length))}}
  <div class="crunchy-form__errors">
    {{#if this.errorHeading}}
      <p class="crunchy-form__error-list-heading">
        {{this.errorHeading}}
      </p>
    {{/if}}
    <ul class="crunchy-form__error-list">
      {{#if this.form.submitTask.last.isError}}
        {{#if (eq this.form.submitTask.last.error.httpErrorResponse.status 500)}}
          <li class="crunchy-form__error-message">An unknown server error occurred.</li>
        {{else}}
          {{#each this.form.submitTask.last.error.errors as |error|}}
            <li class="crunchy-form__error-message">{{or error.detail error.message error.title}}</li>
          {{/each}}
        {{/if}}
      {{/if}}
      {{#if this.formMessages.length}}
        {{#each this.formMessages as |error|}}
          <li class="crunchy-form__error-message">{{error}}</li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
{{/if}}

{{yield}}
