{{#with @form as |form|}}
  <div class="mt-10">
    <h1 class="dig-section-title mb-4">Add images</h1>
    <FirebaseUploader
      @pathName="homes"
      @uploadCompleteAction={{action "onFileUploadComplete"}}
      @onAllFilesUploadComplete={{action "onAllFilesUploadComplete"}}
      as |uploader|
    >
      <div class="h-48 rounded border border-brand-gray border-dashed my-6 overflow-hidden bg-contain bg-no-repeat bg-center">
        <CrunchyDraggableDropzone @dropped={{uploader.didSelectFiles}} class="w-full h-full flex justify-center items-center">
          <XFileInput @tagName="div" @name="files" @multiple={{true}} @action={{uploader.didSelectFiles}}>
            {{#unless uploader.uploadStatuses.length}}
              <span class="my-2 text-black p-4 text-sm mx-2 font-semibold flex flex-col items-center opacity-50 bg-white rounded">
                <FaIcon @icon="file-upload" @size="lg" class="mb-1" />
                Click or drop file here
              </span>
            {{/unless}}
            <div class="flex flex-wrap justify-start">
              {{#each uploader.uploadStatuses as |task|}}
                <div class="relative w-32 h-32 m-2 overflow-hidden rounded border">
                  <img src={{task.preview}} alt="File Upload Preview">
                  <div class="absolute inset-0 flex justify-center items-center bg-white opacity-25">
                    {{#if (eq task.state "running")}}
                      <FaIcon @icon="spinner" @pulse={{true}} class="text-black" />
                    {{else if (eq task.state "success")}}
                      <FaIcon @icon="check-circle" class="text-green-600" />
                    {{else if (eq task.state "error")}}
                      <FaIcon @icon="times-circle" class="text-brand-error" />
                    {{/if}}
                  </div>
                </div>
              {{/each}}
            </div>
          </XFileInput>
        </CrunchyDraggableDropzone>
      </div>
      <ul class="text-sm">
        {{#if (gt uploader.uploadImageTask.performCount 0)}}
          {{#if uploader.completeTasks.length}}
            <li>{{pluralize uploader.completeTasks.length "file"}} uploaded successfully.</li>
          {{/if}}
          {{#if uploader.errorTasks.length}}
            <li>{{pluralize uploader.errorTasks.length "error"}}</li>
          {{/if}}
        {{/if}}
        {{#if uploader.uploadImageTask.isRunning}}
          <li>Uploading image...</li>
        {{/if}}
      </ul>
    </FirebaseUploader>
  </div>
{{/with}}
