{{#if (has-block)}}
  {{yield}}
{{else}}
  <span class="whitespace-no-wrap">
    {{this.label}}
  </span>
{{/if}}

{{#if this.allowClear}}
  <button {{action "didClear"}} aria-label="Remove item" class="ml-1 cursor-pointer {{this.buttonClass}}">
    <FaIcon @icon="times" />
  </button>
{{/if}}
