<BasicDropdown as |dd|>
  <dd.Trigger class="crunchy-sort-by__menu-trigger flex items-center p-1">
    <span class="hidden md:block whitespace-no-wrap">{{this.sortMenuName}}</span>
    <span class="md:hidden">Sort</span>
    <FaIcon @icon="angle-down" @size="xs" class="ml-2" />
  </dd.Trigger>

  <dd.Content class="crunchy-sort-by__dd-menu shadow p-2 border">
    <ul role="menu">
      {{#each-in @sortMenuOptions as |key label|}}
        <li class="crunchy-sort-by__menu-item py-2 cursor-pointer hover:text-brand-primary" role="menuitem" {{fn this.didSelectSortAttr key dd}}>
          {{label}}
        </li>
      {{/each-in}}
    </ul>
  </dd.Content>
</BasicDropdown>

<CrunchyButton
  @class="crunchy-sort-by__toggle p-1 ml-1"
  @onClick={{this.toggleSort}}
  @aria-label={{this.ariaLabelForToggle}}>
  {{#if this.sortDescending}}
    <FaIcon @icon="sort-amount-down" />
  {{else}}
    <FaIcon @icon="sort-amount-up" />
  {{/if}}
</CrunchyButton>
