<button
  class={{concat
    "crunchy-button "
    (concat "crunchy-button--" type " ")
    @class
  }}
  type={{@type}}
  aria-label={{@aria-label}}
  disabled={{this.disabled}}
  onclick={{action "click"}}>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@value}}
  {{/if}}
</button>
