{{#if this.show}}
  <ModalDialog  @clickOutsideToClose={{false}} @translucentOverlay={{true}} class="relative">
    {{#if this.allowClose}}
    {{!-- TODO replace with svg ? --}}
      <CrunchyButton
        @onClick={{action "cancel"}}
        @disabled={{this.isDisabled}}
        @aria-label="Close modal and cancel"
        @class="crunchy-confirm__close absolute top-0 right-0 py-1 px-2 leading-none overflow-hidden"
      >
        <span aria-hidden="true">&times;</span>
      </CrunchyButton>
    {{/if}}
    <div class="crunchy-confirm__modal-body">
      {{yield}}
    </div>
    <div class="crunchy-confirm__modal-footer">
      <CrunchyButton @class="crunchy-button--modal-cancel" @onClick={{action "cancel"}} @disabled={{this.isDisabled}}>
        {{cancelText}}
      </CrunchyButton>

      <CrunchyButton @class="crunchy-button--modal-confirm" @task={{confirmTask}} @disabled={{this.isDisabled}}>
        {{confirmText}}
      </CrunchyButton>
    </div>
    {{#if (and didConfirm confirmTask.last.isError)}}
      <div class="crunchy-confirm__errors">
        Oops, an error occurred!
        {{#each confirmTask.last.error.errors as |error|}}
          <div>{{error.detail}}</div>
        {{else}}
          <div>{{error.message}}</div>
        {{/each}}
      </div>
    {{/if}}
  </ModalDialog>
{{/if}}
