<BreadCrumbs @tagName="ul" @linkable={{this.linkable}} @crumbClass={{this.crumbClass}} @linkClass={{this.linkClass}} as |component crumb|>
  <BreadCrumb @route={{crumb}} @breadCrumbs={{component}} @class="inline">
    <span
      class={{if (or
          (eq crumb.path this.router.currentRouteName)
          (eq (concat crumb.path ".index") this.router.currentRouteName))
          "crunchy-breadcrumbs__active-crumb"}}
    >
      {{crumb.title}}
    </span>
  </BreadCrumb>
</BreadCrumbs>
