<h1 class="dig-section-title mb-4">Add New Business</h1>
{{#with @form as |form|}}
  <form.text-field
    @field="name"
    @label="Name"
    @aria-label="Business Name"
  />

  <form.field @field="categories" @label="Categories">
    <PowerSelectMultiple
      @searchEnabled={{true}}
      @searchField="longName"
      @options={{this.categoryOptions}}
      @selected={{@model.categories}}
      @placeholder="Select category tags..."
      @onChange={{action (mut @model.categories)}} as |category|>
      {{category.longName}}
    </PowerSelectMultiple>
  </form.field>

  <form.field @field="role" @label="Listing Type">
    <PowerSelect
      @placeholder="Select a listing type for this business"
      @options={{this.roleOptions}}
      @selected={{@model.role}}
      @allowClear={{false}}
      @disabled={{form.isReadonly}}
      @onChange={{action (mut @model.role)}} as |role|
      >
        <span data-test-id="selected-role">{{role-display-name role}}</span>
    </PowerSelect>
  </form.field>

  <div class="flex flex-col items-start mt-8 crunchy-form__group">
    <XToggle
      @showLabels={{true}}
      @size="small"
      @value={{@model.featured}}
      @onToggle={{action (mut @model.featured)}}
      @disabled={{this.isReadonly}}
      as |toggle|
    >
      <toggle.label @value={{@model.active}}>
        <span class="crunchy-form__toggle-label">Featured?</span>
      </toggle.label>
      <toggle.switch @theme='light' />
    </XToggle>
    <p class="text-gray-600 text-sm">Featured businesses will appear within Dig Deeper content.</p>
  </div>
{{/with}}
